<template>
  <div>
    <div v-if="hasPerm('api.change_proyecto')" class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Editar Proyecto</h2>
          <div class="form-group">
            <label for="">Nombre</label>
            <input class="form-control" type="text" v-model="proyecto.nombre" />
          </div>
          <div class="form-group">
            <label for="">Duracion</label>
            <input
              class="form-control"
              type="text"
              v-model="proyecto.duracion"
            />
          </div>
          <div class="form-group">
            <label for="">Gerente</label>
            <select
              name=""
              id=""
              class="form-control"
              v-model="proyecto.gerente.id"
            >
              <option value="" selected>Seleccionar Usuario</option>
              <option
                :value="usuario.id"
                v-for="usuario in usuarios"
                :key="usuario.id"
              >
                {{ usuario.user.first_name }}
              </option>
            </select>
          </div>
          <button v-on:click="modificar()" class="btn btn-primary">
            Editar Proyecto
          </button>
        </div>
        <div class="col-md-6">
          <h2>{{ proyecto.nombre }}</h2>
          <p>Id: {{ proyecto.id }}</p>
          <p>Duracion: {{ proyecto.duracion }}</p>
          <p>Estado: {{ proyecto.estado }}</p>
          <p>Gerente: {{ proyecto.gerente.user.first_name }}</p>
        </div>
      </div>
    </div>
    <div v-else style="text-align: center;">
      No tienes el permiso para editar este proyecto
    </div>
  </div>
</template>

<script>
import ProyectoService from "../../services/proyectoService";
import UsuarioService from "@/services/usuarioService";
import proyectoService from "../../services/proyectoService";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      usuarios: [],
      proyecto: {
        id: null,
        nombre: null,
        duracion: null,
        estado: null,
        gerente: {
          user: {
            first_name: null
          }
        },
        fases: []
      },
      fase: {
        nombre: null,
        proyecto_id: null
      }
    };
  },
  created() {
    ProyectoService.misPermisos(this.$route.params["id"]).then(permisos => {
      if (permisos.indexOf("change_proyecto") == -1) {
        this.$notify({
          title: "Error",
          text: "Acceso Restringido",
          type: "error"
        });
        this.$router.push("/");
      }
    });
  },
  mounted() {
    this.obtener();
    this.listarUsuarios();
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    obtener() {
      ProyectoService.obtener(this.$route.params["id"]).then(proyecto => {
        this.proyecto = proyecto;
        this.fase.proyecto_id = proyecto.id;
      });
    },
    listarUsuarios() {
      UsuarioService.listar().then(usuarios => {
        this.usuarios = usuarios;
      });
    },
    modificar() {
      let proyecto = {
        nombre: this.proyecto.nombre,
        duracion: this.proyecto.duracion,
        gerente_id: this.proyecto.gerente.id
      };
      proyectoService.modificar(this.proyecto.id, proyecto).then(() => {
        this.$router.push("/proyectos/" + this.proyecto.id);
      });
    }
  }
};
</script>

<style />

<style></style>
