<template>
  <div>
    <div class="container">
      <h1>Proyectos</h1>
      <div class="d-flex flex-wrap">
        <ProjectListItem
          v-for="proyecto in proyectos"
          v-bind:project="proyecto"
          :key="'p' + proyecto.id"
        />
        <div
          v-if="hasPerm('api.add_proyecto')"
          v-on:click="showCreateModal"
          class="new-project-button"
        >
          <div class="add-simbol">+</div>
        </div>
      </div>
    </div>
    <div class="modals" v-if="hasPerm('api.add_proyecto')">
      <div class="create-modal" v-bind:class="{ show: createModal }">
        <button type="button" class="close" v-on:click="hideCreateModal">
          <span>&times;</span>
        </button>
        <CreateProject
          v-bind:users="usuarios"
          v-on:hideCreateModal="hideCreateModal"
          v-on:updateProjectsList="listar"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ProyectoService from "@/services/proyectoService";
import ProjectListItem from "@/components/ProjectListItem";
import CreateProject from "@/components/CreateProject";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      usuarios: [],
      proyectos: [],
      proyecto: {
        id: null,
        nombre: null,
        duracion: null,
        gerente_id: "",
        fecha_inicio: null
      },
      createModal: false
    };
  },
  components: {
    ProjectListItem,
    CreateProject
  },
  mounted() {
    this.listar();
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    listar() {
      ProyectoService.listar().then(proyectos => {
        this.proyectos = proyectos;
      });
    },
    crear() {
      ProyectoService.crear(this.proyecto).then(() => {
        this.listar();
        // let proyectos = this.proyectos;
        // proyectos.push(proyecto);
        // this.proyectos = proyectos;
      });
    },
    activar(id) {
      ProyectoService.iniciar(id).then(() => {
        this.listar();
      });
    },
    showCreateModal() {
      this.createModal = true;
    },
    hideCreateModal() {
      this.createModal = false;
    }
  }
};
</script>

<style>
.new-project-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  background: white;
  border: 3px dotted black;
  border-radius: 10px;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
  height: 136px;
  justify-content: center;
  margin: 10px;
  width: 250px;
}

.add-simbol {
  color: white;
  background: lightgray;
  border-radius: 37px;
  display: block;
  font-size: 44px;
  height: 74px;
  line-height: 64px;
  text-align: center;
  width: 74px;
}

.create-modal {
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  height: 100vh;
  left: 0;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: opacity 0.2s;
  opacity: 0;
  width: 100vw;
  z-index: -1;
}

.create-modal.show {
  opacity: 1;
  z-index: 1;
}

.create-modal > .close {
  color: black;
  height: 50px;
  position: absolute;
  right: 15%;
  top: 15%;
  width: 50px;
}
</style>
