<template>
  <div v-if="hasPerm('api.view_solicitud')">
    <div class="container">
      <div class="col-md-12">
        <h2>Solicitudes</h2>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Motivo</th>
            <th>Acciones</th>
          </tr>
          <tr v-for="solicitud in solicitudes" :key="solicitud.id">
            <td>{{ solicitud.id }}</td>
            <td>{{ solicitud.motivo }}</td>
            <td>
              <button
                class="btn btn-success"
                v-if="hasPerm('api.view_solicitud')"
                v-on:click="$router.push(`/solicitudes/${solicitud.id}`)"
              >
                Ver
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div v-else style="text-align: center;">
    No tiene el permiso para ver solicitudes de este proyecto.
  </div>
</template>

<script>
import SolicitudSevice from "@/services/solicitudService";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      solicitudes: []
    };
  },
  mounted() {
    this.listar();
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    listar() {
      SolicitudSevice.listar().then(solicitudes => {
        this.solicitudes = solicitudes;
      });
    }
  }
};
</script>

<style></style>
