<template>
  <div>
    <div v-if="hasProjectPerm('view_proyecto')" class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ proyecto.nombre }}</h2>
          <p>Id: {{ proyecto.id }}</p>
          <p>Duracion: {{ proyecto.duracion }}</p>
          <p>Estado: {{ stateToString(proyecto.estado) }}</p>
          <p>Gerente: {{ proyecto.gerente.user.first_name }}</p>
          <div v-if="proyecto.estado == 'C'">
            <router-link
              v-if="hasProjectPerm('change_proyecto')"
              :to="`/proyectos/${proyecto.id}/edit`"
              class="btn btn-primary"
              >Editar</router-link
            >&nbsp;
            <button
              v-if="hasProjectPerm('delete_proyecto')"
              v-on:click="eliminar()"
              class="btn btn-danger"
            >
              Eliminar Proyecto
            </button>
            <button
              v-if="hasProjectPerm('change_proyecto')"
              v-on:click="iniciar()"
              class="btn btn-success"
            >
              Iniciar Proyecto
            </button>
          </div>
          <div v-if="proyecto.estado == 'I'">
            <button
              v-if="hasProjectPerm('change_proyecto')"
              v-on:click="terminar()"
              class="btn btn-success"
            >
              Terminar Proyecto</button
            >&nbsp;
            <button
              v-if="hasProjectPerm('delete_proyecto')"
              v-on:click="cancelar()"
              class="btn btn-danger"
            >
              Cancelar Proyecto
            </button>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 40px">
        <b-tabs class="col-md-12">
          <b-tab title="Trazabilidad" v-if="proyecto.estado != 'C'">
            <Grapho :proyectoId="proyecto.id" style="margin-top: 40px" />
          </b-tab>
          <b-tab title="Fases">
            <div
              v-if="hasProjectPerm('add_fase') && proyecto.estado == 'C'"
              style="margin-top: 40px"
            >
              <h3>Agregar Fase</h3>
              <div class="form-group">
                <label for>Nombre</label>
                <input class="form-control" type="text" v-model="fase.nombre" />
              </div>
              <div class="form-group">
                <label for="">QA:</label>
                <select v-model="phaseQA" class="form-control">
                  <option
                    v-for="m in miembros"
                    :value="m.usuario.id"
                    :key="'qa' + m.usuario.id"
                  >
                    {{ m.usuario.user.first_name }}
                  </option>
                </select>
              </div>
              <button v-on:click="crearFase()" class="btn btn-primary">
                Agregar
              </button>
            </div>
            <div v-if="hasProjectPerm('view_fase')">
              <table class="table" style="margin-top: 40px">
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th v-if="proyecto.estado == 'C'">Acciones</th>
                </tr>
                <tr v-for="(fase, i) in proyecto.fases" :key="'f' + i">
                  <td>{{ fase.id }}</td>
                  <td v-on:click="$router.push(`/fases/${fase.id}`)">
                    {{ fase.nombre }}
                  </td>
                  <td v-if="proyecto.estado == 'C'">
                    <button class="d-inline" v-on:click="subir(i)">
                      Subir
                    </button>
                    <button class="d-inline" v-on:click="bajar(i)">
                      Bajar
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </b-tab>
          <b-tab title="Miembros">
            <div
              style="margin-top: 40px"
              v-if="hasProjectPerm('add_rolproyecto')"
            >
              <h3>Agregar Miembro</h3>
              <div class="form-group">
                <label for>Usuario</label>
                <select
                  name
                  id
                  class="form-control"
                  v-model="rolProyecto.usuario_id"
                >
                  <option value selected>Seleccionar Usuario</option>
                  <option
                    :value="usuario.id"
                    v-for="usuario in usuarios.filter(
                      usuario =>
                        miembros
                          .map(miembro => miembro.usuario.id)
                          .indexOf(usuario.id) == -1
                    )"
                    :key="'u' + usuario.id"
                    >{{ usuario.user.first_name }}</option
                  >
                </select>
              </div>
              <div class="form-group">
                <label for>Rol</label>
                <select
                  name
                  id
                  class="form-control"
                  v-model="rolProyecto.rol_id"
                >
                  <option value selected>Seleccionar Rol</option>
                  <option
                    :value="rol.id"
                    v-for="rol in rolesProyectos"
                    :key="'r' + rol.id"
                    >{{ rol.group.name }}</option
                  >
                </select>
              </div>
              <button v-on:click="agregarMiembro()" class="btn btn-primary">
                Agregar
              </button>
            </div>
            <table class="table">
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Acciones</th>
              </tr>
              <tr v-for="miembro in miembros" :key="'m' + miembro.id">
                <td>{{ miembro.usuario.id }}</td>
                <td>{{ miembro.usuario.user.first_name }}</td>
                <td>{{ miembro.rol.group.name }}</td>
                <td>
                  <button
                    class="btn btn-danger"
                    v-if="miembro.usuario.id != me.id"
                    v-on:click="eliminarMiembro(miembro.usuario.id)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
            </table>
          </b-tab>
          <b-tab title="Comité">
            <form v-on:submit.prevent="setComite">
              <table class="table table-striped">
                <tr>
                  <th style="width: 10%;">ID</th>
                  <th style="width: 60%;">Usuario</th>
                  <th style="width: 30%;">Acción</th>
                </tr>
                <tr
                  v-for="user in hasProjectPerm('change_comite')
                    ? miembros
                    : miembros.filter(x => x.isComite)"
                  :key="'td' + user.usuario.id"
                >
                  <td>{{ user.usuario.id }}</td>
                  <td>
                    {{ user.usuario.user.first_name }}
                    {{ user.usuario.user.last_name }}
                  </td>
                  <td>
                    <b-form-checkbox
                      v-model="user.checked"
                      name="check-button"
                      switch
                    >
                      {{
                        user.isComite
                          ? user.checked
                            ? "Agregado"
                            : "Remover"
                          : user.checked
                          ? "Agregar"
                          : "Ausente"
                      }}
                    </b-form-checkbox>
                  </td>
                </tr>
              </table>

              <input
                type="submit"
                class="btn btn-primary"
                value="Actualizar comité"
                v-if="hasProjectPerm('change_comite')"
              />
            </form>
          </b-tab>
          <b-tab title="Solicitudes" v-if="isComite">
            <table class="table">
              <tr>
                <th>Id</th>
                <th>Motivo</th>
                <th>Impacto</th>
              </tr>
              <tr
                v-for="solicitud in solicitudes"
                :key="solicitud.id"
                @click="$router.push(`/solicitudes/${solicitud.id}`)"
              >
                <td>{{ solicitud.id }}</td>
                <td>{{ solicitud.motivo }}</td>
                <td>{{ solicitud.impacto }}</td>
              </tr>
            </table>
          </b-tab>
        </b-tabs>
      </div>
    </div>
    <div v-else style="text-align: center;">
      No tienes el permiso para ver este proyecto.
    </div>
  </div>
</template>

<script>
import Grapho from "@/components/Grapho";
import ProyectoService from "@/services/proyectoService";
import FaseService from "@/services/faseService";
import UsuarioService from "@/services/usuarioService";
import RolService from "@/services/rolService";
import usuarioService from "@/services/usuarioService";
import proyectoService from "@/services/proyectoService";
import AuthService from "@/services/authService";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      proyecto: {
        id: null,
        nombre: null,
        duracion: null,
        estado: null,
        gerente: {
          user: {
            first_name: null
          }
        },
        fases: []
      },
      fase: {
        nombre: "",
        proyecto_id: ""
      },
      usuarios: [],
      rolesProyectos: [],
      rolProyecto: {
        usuario_id: null,
        rol_id: null
      },
      miembros: [],
      me: {
        id: 0
      },
      permisosProyecto: [],
      phases: [],
      phase: {
        id: "",
        nombre: "",
        proyecto: "",
        estado: "",
        orden: ""
      },
      graphLBs: [],
      graphLB: {
        id: "",
        fase_id: "",
        items: "",
        position: "",
        emphasis: ""
      },
      graphEdges: [],
      graphEdge: {
        start: "",
        end: "",
        parentPhase: "",
        childPhase: "",
        sameParentGap: ""
      },
      itemParents: [],
      tracedItem: "",
      activePhase: "",
      graphState: "normal-view", // normal-view trace-view break-view,
      phaseQA: null,
      solicitudes: []
    };
  },
  components: {
    Grapho
  },
  created() {
    ProyectoService.misPermisos(this.$route.params["id"]).then(permisos => {
      this.$store.commit("setMyProjectPerms", permisos);
      if (permisos.indexOf("view_proyecto") == -1) {
        this.$notify({
          title: "Error",
          text: "Acceso Restringido",
          type: "error"
        });
        this.$router.push("/");
      } else {
        this.obtener();
      }
      if (permisos.indexOf("view_rolproyecto") != -1) {
        this.loadMiembros();
      }
    });
  },
  mounted() {
    if (AuthService.isLoggedIn()) {
      this.$store.dispatch("refreshMyPermList").then(() => {
        if (this.hasPerm("api.view_usuario")) this.loadUsuarios();
        if (this.hasPerm("api.view_rol")) this.loadRoles();
      });
      this.loadMe();
    }
  },
  computed: {
    ...mapGetters(["hasProjectPerm", "hasPerm"]),
    isComite() {
      if (this.miembros.length == 0) return false;
      let me = this.miembros.filter(x => x.usuario.id == this.me.id);
      return me[0].isComite;
    }
  },
  methods: {
    stateToString(key) {
      switch (key) {
        case "C":
          return "Creado";

        case "I":
          return "Iniciado";

        case "X":
          return "Cancelado";

        case "T":
          return "Terminado";

        case "E":
          return "Eliminado";
      }

      return "";
    },
    obtener() {
      ProyectoService.obtener(this.$route.params["id"]).then(async proyecto => {
        this.proyecto = proyecto;
        this.fase.proyecto_id = proyecto.id;
        this.phases = proyecto.fases.sort((a, b) => a.orden - b.orden);
      });
    },
    modificar() {
      ProyectoService.modificar(this.proyecto.id, this.proyecto).then(() => {
        this.listar();
      });
    },
    cancelar() {
      ProyectoService.cancelar(this.proyecto.id).then(() => {
        this.obtener();
      });
    },
    terminar() {
      ProyectoService.terminar(this.proyecto.id).then(() => {
        this.obtener();
      });
    },
    iniciar() {
      ProyectoService.iniciar(this.proyecto.id).then(() => {
        this.obtener();
      });
    },
    eliminar() {
      ProyectoService.eliminar(this.proyecto.id).then(() => {
        this.$router.push("/proyectos");
      });
    },
    crearFase() {
      this.fase.usuario_id = this.phaseQA;
      FaseService.crear(this.fase).then(() => {
        this.obtener();
        this.$notify({
          text: "Se agregó la fase correctamente",
          type: "success"
        });
        this.phaseQA = "";
        this.fase = {
          nombre: "",
          proyecto_id: this.$route.params["id"]
        };
      });
    },
    subir(i) {
      if (i != 0) {
        FaseService.intercambiar(
          this.proyecto.fases[i].id,
          this.proyecto.fases[i - 1].id
        ).then(() => {
          this.obtener();
        });
      }
    },
    bajar(i) {
      if (i != this.proyecto.fases.length - 1) {
        FaseService.intercambiar(
          this.proyecto.fases[i].id,
          this.proyecto.fases[i + 1].id
        ).then(() => {
          this.obtener();
        });
      }
    },
    loadUsuarios() {
      UsuarioService.listar().then(usuarios => {
        this.usuarios = usuarios;
      });
    },
    loadRoles() {
      RolService.listar("P").then(roles => {
        this.rolesProyectos = roles;
      });
    },
    loadMiembros() {
      ProyectoService.miembros(this.$route.params["id"]).then(miembros => {
        this.miembros = miembros;
        UsuarioService.me().then(me => {
          this.me = me;
          if (this.hasProjectPerm("view_comite")) this.loadComite();
        });
      });
    },
    agregarMiembro() {
      ProyectoService.agregarMiembro(
        this.$route.params["id"],
        this.rolProyecto
      ).then(miembros => {
        this.miembros = miembros;
        this.$notify({
          text: "Se agregó el miembro correctamente",
          type: "success"
        });
      });
    },
    eliminarMiembro(miembro) {
      ProyectoService.eliminarMiembro(this.$route.params["id"], {
        usuario_id: miembro
      }).then(miembros => {
        this.miembros = miembros;
      });
    },
    loadMe() {
      usuarioService.me().then(usuario => {
        this.me = usuario;
      });
    },
    loadComite() {
      const initTrue = { isComite: true, checked: true };
      const initFalse = { isComite: false, checked: false };
      proyectoService.verComite(this.$route.params["id"]).then(comite => {
        this.miembros.forEach((user, idx) => {
          if (
            comite.length > 0 &&
            comite.some(cUser => cUser.id === user.usuario.id)
          )
            user = { ...user, ...initTrue };
          else user = { ...user, ...initFalse };
          this.miembros.splice(idx, 1, user);
        });
        this.loadSolicitudes();
      });
    },
    loadSolicitudes() {
      ProyectoService.listarSolicitudes(this.$route.params["id"]).then(
        solicitudes => {
          this.solicitudes = solicitudes;
        }
      );
    },
    setComite() {
      let toComite = [];
      this.miembros.forEach(user => {
        if (user.checked) toComite.push(user.usuario);
      });
      if (toComite.length % 2 != 0)
        proyectoService
          .crearComite(this.$route.params["id"], toComite)
          .then(this.updateComite(toComite));
      else
        this.$notify({
          text: "La cantidad de miembros de un comité debe ser impar",
          type: "error"
        });
    },
    updateComite(newComite) {
      this.$notify({
        text: "Se actualizó el comite",
        type: "success"
      });
      const initTrue = { isComite: true, checked: true };
      const initFalse = { isComite: false, checked: false };
      this.miembros.forEach((user, idx) => {
        if (
          newComite.length > 0 &&
          newComite.some(cUser => cUser.id === user.usuario.id)
        )
          user = { ...user, ...initTrue };
        else user = { ...user, ...initFalse };
        this.miembros.splice(idx, 1, user);
      });
    },
    async loadPhasesData() {
      for (let idx = 0; idx < this.phases.length; idx++) {
        let phase = this.phases[idx];
        let items, lbs;

        items = await FaseService.listarItems(phase.id);
        items = items.filter(i => i.estado != "D");
        this.$set(phase, "items", items);

        lbs = await FaseService.listarLB(phase.id);
        if (lbs == undefined) this.$set(phase, "lbs", []);
        else
          lbs = lbs.filter(lb => lb.estado != "R").sort((a, b) => a.id - b.id);
        this.$set(phase, "lbs", lbs);

        this.sortItemsAndLBs(phase);
      }

      this.loadChildrenAndParents();

      this.phases.forEach(phase => {
        this.loadEdges(phase);
      });
    },
    sortItemsAndLBs(phase) {
      let sortedItems = [];
      let remainingItems = phase.items;

      let lbPosition = 0;
      this.graphLBs[phase.orden] = [];
      phase.lbs.forEach(lb => {
        lb.position = 110 * lbPosition;
        lb.height = 110 * lb.items.length;
        lbPosition += lb.items.length;

        this.$set(lb, "emphasis", ""); // aprovecho el recorrido para agregar campo, sorry. jepjep

        this.graphLBs[phase.orden].push(lb);

        lb.items.forEach(item => {
          let idx = remainingItems.findIndex(i => i.id == item.id);
          remainingItems.splice(idx, 1);
          sortedItems.push(item);
        });
      });

      Array.prototype.push.apply(sortedItems, remainingItems);
      sortedItems.forEach(item => this.setItemCurrVer(item));
      this.$set(phase, "items", sortedItems);
    },
    setItemCurrVer(item) {
      const version = item.versiones.find(v => v.actual);
      this.$set(item, "version", version);
    },
    loadChildrenAndParents() {
      this.phases.forEach(p => {
        this.$set(p, "showOptions", false);
        this.$set(p, "sameParents", 0);
        p.items.forEach((i, idx) => {
          this.$set(i, "emphasis", "none");
          if (!Object.prototype.hasOwnProperty.call(i, "children"))
            this.$set(i, "children", []);
          if (!Object.prototype.hasOwnProperty.call(i, "parents"))
            this.$set(i, "parents", []);
          this.$set(i, "phase", p);
          this.$set(i, "position", idx);

          i.hijos.forEach(r => {
            if (r.hijo.actual) {
              let child = p.items.find(item => item.id == r.hijo.item_id);

              if (child == undefined) {
                const nextPhase = this.phases.find(
                  phase => phase.orden == p.orden + 1
                );
                child = nextPhase.items.find(item => item.id == r.hijo.item_id);
              }

              if (child != undefined) {
                if (!Object.prototype.hasOwnProperty.call(child, "parents"))
                  this.$set(child, "parents", []);
                child.parents.push(i);

                i.children.push(child);
              }
            }
          });
        });
      });
    },
    loadEdges(phase) {
      phase.items.forEach(i => {
        i.children.forEach(child => {
          if (child.phase.id == phase.id) child.phase.sameParents += 1;

          const edge = {
            start: i.position,
            end: child.position,
            parentPhase: phase.orden,
            childPhase: child.phase.orden,
            sameParentGap: child.phase.sameParents
          };

          if (this.graphEdges[child.phase.orden] == undefined)
            this.graphEdges[child.phase.orden] = [];
          this.graphEdges[child.phase.orden].push(edge);
        });
      });
    },
    traceItem(item) {
      if (this.graphState == "trace-view") this.untraceItem(this.tracedItem);
      else if (this.graphState != "normal-view") return;

      if (this.tracedItem != item) {
        this.tracedItem = item;
        item.emphasis = "trace-root";

        this.traceParents(item.parents);
        this.traceChildren(item.children);

        this.graphState = "trace-view";
      } else {
        this.tracedItem = null;
        this.graphState = "normal-view";
      }
    },
    traceParents(parents) {
      parents.forEach(p => {
        p.emphasis = "trace-of";
        this.traceParents(p.parents);
      });
    },
    traceChildren(children) {
      children.forEach(c => {
        c.emphasis = "trace-of";
        this.traceChildren(c.children);
      });
    },
    untraceItem(item) {
      item.emphasis = "";
      this.untraceParents(item.parents);
      this.untraceChildren(item.children);
    },
    untraceParents(parents) {
      parents.forEach(p => {
        p.emphasis = "";
        this.untraceParents(p.parents);
      });
    },
    untraceChildren(children) {
      children.forEach(c => {
        c.emphasis = "";
        this.untraceChildren(c.children);
      });
    }
  }
};
</script>

<style>
form {
  margin-bottom: 30px;
}
label.agregado::before {
  background-color: #007bff !important;
  border-color: #007bff !important;
}
label.remover::before {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}
label.agregar::before {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}
label.ausente::before {
  background-color: #fff !important;
  border-color: #adb5bd !important;
}
</style>
