<template>
  <div v-if="hasPerm('api.view_tipoitem')">
    <label for="">Nombre</label>
    <input type="text" v-model="tipoItem.nombre" />
    <label for="">Disponible</label>
    <input type="text" v-model="tipoItem.disponible" />
    <label for="">Campos</label>
    <input type="text" v-model="fase.estado" />
    <button v-on:click="crear()">Crear Tipo de Item</button>
    <hr />
    <p
      v-on:click="$router.push(`/tipo-item/${tipoItem.id}/`)"
      v-for="fase in fases"
      :key="fase.id"
    >
      {{ tipoItem.nombre }}
    </p>
  </div>
  <div v-else style="text-align: center;">
    No tienes el permiso para ver tipos de ítem.
  </div>
</template>

<script>
import TipoItemService from "../../services/tipoItemService";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      tiposItem: [],
      tipoItem: {
        id: null,
        nombre: null,
        campos: [],
        disponible: null
      }
    };
  },
  mounted() {
    this.listar();
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    listar() {
      TipoItemService.listar().then(tipoItem => {
        this.tiposItem = tipoItem;
      });
    },
    crear() {
      TipoItemService.crear(this.tipoItem).then(() => {
        this.listar();
      });
    }
  }
};
</script>

<style />
