<template>
  <div v-if="hasPerm('api.view_tipoitem')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Tipo de Item</h1>
          <p>Nombre: {{ tipoItem.nombre }}</p>
          <p>ID: {{ tipoItem.id }}</p>
          <p>Fase: {{ tipoItem.fase.nombre }}</p>
          <button
            v-on:click="$router.push(`/fases/${tipoItem.fase.id}`)"
            class="btn btn-primary"
          >
            Volver a Fase</button
          >&nbsp;
          <button
            v-if="hasPerm('api.delete_tipoitem')"
            v-on:click="eliminar()"
            class="btn btn-danger"
          >
            Eliminar
          </button>
        </div>
        <div v-if="hasPerm('api.add_campo')" class="col-md-6">
          <div>
            <h3>Agregar campo personalizado</h3>
            <div class="form-group">
              <label for="">Nombre</label>
              <input class="form-control" type="text" v-model="campo.nombre" />
            </div>
            <div class="form-group">
              <label for="">Tipo</label>
              <select
                class="form-control"
                type="text"
                v-model="campo.tipo_dato"
              >
                <option value="">Seleccione un tipo</option>
                <option value="String">Texto</option>
                <option value="Integer">Entero</option>
                <option value="Date">Fecha</option>
              </select>
            </div>
            <button v-on:click="agregarCampo()" class="btn btn-primary">
              Agregar
            </button>
          </div>
        </div>
      </div>
      <div v-if="hasPerm('api.view_campo')" class="row">
        <div class="col-md-12">
          <h1>Campos</h1>
          <table class="table">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Acciones</th>
            </tr>
            <tr v-for="campo in campos" :key="campo.id">
              <td>{{ campo.id }}</td>
              <td>
                {{ campo.nombre }}
              </td>
              <td>
                {{ campo.tipo_dato }}
              </td>
              <td>
                <button
                  v-if="hasPerm('api.delete_campo')"
                  class="btn btn-danger"
                  v-on:click="eliminarCampo(campo.id)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div v-else style="text-align: center;">
    No tienes el permiso para ver tipos de ítem.
  </div>
</template>

<script>
import TipoItemService from "@/services/tipoItemService";
import CampoService from "@/services/campoService";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      tipoItem: {
        id: null,
        nombre: null,
        fase: {
          nombre: null
        }
      },
      campo: {
        nombre: null,
        tipo_dato: ""
      },
      campos: []
    };
  },
  mounted() {
    this.loadTipoItem();
    this.loadCampos();
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    loadTipoItem() {
      TipoItemService.obtener(this.$route.params["id"]).then(tipo => {
        this.tipoItem = tipo;
      });
    },
    eliminar() {
      TipoItemService.eliminar(this.$route.params["id"]).then(() => {
        this.$router.push(`/fases/${this.tipoItem.fase.id}`);
      });
    },
    loadCampos() {
      TipoItemService.campos(this.$route.params["id"]).then(campos => {
        this.campos = campos;
      });
    },
    agregarCampo() {
      this.campo.tipo_item_id = this.$route.params["id"];
      CampoService.crear(this.campo).then(() => {
        this.loadCampos();
      });
    },
    eliminarCampo(id) {
      CampoService.eliminar(id).then(() => {
        this.loadCampos();
      });
    }
  }
};
</script>

<style></style>
