<template>
  <div class="form">
    <h3 class="form-title text-center">Nuevo Proyecto</h3>
    <div class="form-group">
      <input
        class="form-input"
        type="text"
        placeholder="Nombre"
        v-model="project.nombre"
      />
    </div>
    <div class="form-group">
      <select class="form-input" name="" id="" v-model="gerente">
        <option value="-" selected>Gerente</option>
        <option v-for="user in users" :value="user" :key="'m' + user.id">
          {{ user.user.first_name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <input
        class="form-input"
        type="text"
        onfocus="(this.type='date')"
        placeholder="Fecha de Inicio"
        v-model="project.fecha_inicio"
      />
    </div>
    <div class="form-group">
      <input
        class="form-input"
        type="number"
        placeholder="Duración"
        v-model="project.duracion"
      />
    </div>
    <div class="d-flex justify-content-center m-auto">
      <button v-on:click="crear" type="submit" class="btn submit">
        Registrar Proyecto
      </button>
    </div>
  </div>
</template>

<script>
import ProyectoService from "@/services/proyectoService";
import UsuarioService from "@/services/usuarioService";

export default {
  data() {
    return {
      project: {
        nombre: "",
        gerente_id: "",
        fecha_inicio: "",
        duracion: ""
      },
      gerente: "",
      title: "",
      submitText: "",
      users: []
    };
  },
  mounted() {
    this.gerente = "-";
    this.listarUsuarios();
  },
  methods: {
    listarUsuarios() {
      UsuarioService.listar().then(usuarios => {
        this.users = usuarios;
      });
    },
    crear() {
      if (
        this.project.nombre == "" ||
        this.gerente == "-" ||
        this.project.fecha_inicio == "" ||
        this.project.duracion == ""
      ) {
        return;
      } else {
        this.project.gerente_id = this.gerente.id;
        ProyectoService.crear(this.project).then(() => {
          this.$emit("updateProjectsList");
          this.$emit("hideCreateModal");
        });
      }
    }
  }
};
</script>

<style>
.form-title {
  margin-bottom: 20px;
}

.form-input {
  background: transparent;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #7b7b7b;
  width: 245px;
}

.form-input:focus {
  outline: none;
}

button.submit {
  border-radius: 0;
  color: white;
  background: black;
  margin-top: 20px;
  padding: 11px 15px;
}
</style>
