<template>
  <div
    class="edge-container"
    :class="{ hidden: hidden }"
    :style="{
      left: leftGap + 'px',
      height: tall + 6 + 'px',
      top: startingHeight - 3 + 'px',
      width: width + 'px'
    }"
  >
    <svg :height="tall + 6" :width="width">
      <line
        :x1="x1"
        :y1="y1 + 0.5"
        :x2="x2"
        :y2="y2 + 0.5"
        :stroke-width="strokeWidth"
        :stroke="color"
      />

      <line
        :x1="x2"
        :y1="y2 + 0.5"
        :x2="x3"
        :y2="y3 + 0.5"
        :stroke-width="strokeWidth"
        :stroke="color"
      />

      <line
        :x1="x3"
        :y1="y3 + 0.5"
        :x2="x4"
        :y2="y4 + 0.5"
        :stroke-width="strokeWidth"
        :stroke="color"
      />

      <line
        :x1="x4"
        :y1="y4 + 0.5"
        :x2="x4 + leftOrRightFactor * 3"
        :y2="y4 + 0.5 + 3"
        :stroke-width="strokeWidth"
        :stroke="color"
      />
      <line
        :x1="x4"
        :y1="y4 + 0.5"
        :x2="x4 + leftOrRightFactor * 3"
        :y2="y4 + 0.5 - 3"
        :stroke-width="strokeWidth"
        :stroke="color"
      />
    </svg>
  </div>
</template>

<script>
export default {
  props: [
    "start",
    "end",
    "parentPhase",
    "childPhase",
    "leftOrder",
    "rightOrder",
    "color",
    "hidden"
  ],
  data() {
    return {
      x1: 0,
      y1: 0,
      x2: 0,
      y2: 0,
      x3: 0,
      y3: 0,
      x4: 0,
      y4: 0,
      tall: 0,
      startingHeight: 0,
      leftGap: 0,
      rightGab: 0,
      width: 0,
      strokeWidth: 1
    };
  },
  computed: {
    leftOrRightFactor: function() {
      if (this.parentPhase < this.childPhase) return -1;
      else if (this.parentPhase == this.childPhase) {
        if (this.start > this.end) return +1;
        else if (this.start < this.end) return -1;
        else return undefined;
      } else return undefined;
    }
  },
  mounted() {
    this.loadEdge();
  },
  methods: {
    loadEdge() {
      const start = this.start,
        end = this.end,
        parentPhase = this.parentPhase,
        childPhase = this.childPhase;

      this.tall = start == end ? 20 : Math.abs(start - end) * 110 + 20;
      this.startingHeight = this.calculateHeight();

      if (start > end && parentPhase < childPhase) {
        this.tall -= 40 - 3;
        this.startingHeight += 20;
      }

      this.leftGap = this.calculateGap();
      if (childPhase == 1) {
        if (start < end) {
          this.width = this.leftOrder * 20;
          this.leftGap = 60 + 15 - this.width;
        } else if (start > end) {
          this.width = this.rightOrder * 20;
          this.leftGap = 60 + 15 + 50;
          this.startingHeight += 20;
          this.tall -= 40;
        }
      } else if (parentPhase == childPhase) {
        if (start < end) {
          this.width = this.leftOrder * 20;
          this.leftGap += 15 + 240 + 15 - this.width;
        } else if (start > end) {
          this.width = this.rightOrder * 20;
          this.leftGap += 15 + 240 + 15 + 50;
          this.startingHeight += 20;
          this.tall -= 40;
        }
      } else this.width = 240 + 30;

      if (parentPhase != childPhase) {
        if (start < end) {
          this.x1 = 0;
          this.y1 = 0 + 3;
          this.x2 = this.x1 + 80 + 15;
          this.y2 = this.y1;
          this.x3 = this.x2 + 80;
          this.y3 = this.y2 + this.tall;
          this.x4 = this.x3 + 80 + 15;
          this.y4 = this.y3;
        } else if (start > end) {
          this.x1 = 0;
          this.y1 = this.tall;
          this.x2 = this.x1 + 80 + 15;
          this.y2 = this.y1;
          this.x3 = this.x2 + 80;
          this.y3 = 0 + 3;
          this.x4 = this.x3 + 80 + 15;
          this.y4 = this.y3;
        } else {
          this.x1 = 0;
          this.y1 = 0 + 3;
          this.x2 = this.x1 + 80 + 15;
          this.y2 = this.y1;
          this.x3 = this.x2 + 80;
          this.y3 = this.y2 + this.tall;
          this.x4 = this.x3 + 80 + 15;
          this.y4 = this.y3;
        }
      } else {
        if (start < end) {
          this.x1 = this.width;
          this.y1 = 0 + 3;
          this.x2 = this.x1 - this.width;
          this.y2 = this.y1;
          this.x3 = this.x2;
          this.y3 = this.y2 + this.tall;
          this.x4 = this.x3 + this.width;
          this.y4 = this.y3;
        } else if (start > end) {
          this.x1 = 0;
          this.y1 = this.tall + 3;
          this.x2 = this.width;
          this.y2 = this.y1;
          this.x3 = this.x2;
          this.y3 = this.y2 - this.tall;
          this.x4 = this.x3 - this.width;
          this.y4 = this.y3;
        }
      }
    },
    calculateGap() {
      if (this.childPhase == 1) return 0;
      else return 60 + 80 + (this.childPhase - 2) * (80 + 240) - 15;
    },
    calculateHeight() {
      const minOrder = Math.min(this.start, this.end);
      if (minOrder == 0) return 135;
      else return 135 + minOrder * 110;
    }
  }
};
</script>

<style>
svg {
  position: absolute;
  top: 0px;
}

.edge-container {
  position: absolute;
  z-index: 1;
}

.edge-container.hidden {
  display: none;
}
</style>
