<template>
  <div class="container section-container">
    <div v-if="graphState != 'error-found'" class="grapho-of-items">
      <div class="grapho-upper-sector">
        <h2 class="title">Fases e Items</h2>
        <div v-if="showBreakOptions" class="break-btns">
          <button
            type="button"
            class="btn btn-secondary"
            v-on:click="undoLastOp()"
            v-if="graphState != 'br-select-lb'"
            :disabled="graphState != 'br-wait-order'"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Sólo usar mientras no hayan operaciones en marcha"
          >
            &lt;
          </button>
          <button
            class="btn btn-success"
            v-if="graphState == 'br-create-lb-selecting-items'"
            v-on:click="createLB()"
          >
            Crear Línea Base
          </button>
          <button
            class="btn btn-primary"
            v-bind:class="{ active: brOptToHighlight == 1 }"
            v-on:click="breakNextOperation(1, 'br-act-deac-item')"
          >
            Activar/Desactivar Items R.
          </button>
          <button
            class="btn btn-primary"
            v-bind:class="{ active: brOptToHighlight == 2 }"
            v-on:click="breakNextOperation(2, 'br-create-lb')"
            title="Todos los items en revisión deben estar aprobados o desaprobados"
          >
            Crear Línea Base
          </button>
          <button
            class="btn btn-success"
            v-bind:class="{ active: brOptToHighlight == 3 }"
            v-on:click="breakNextOperation(3, 'br-finish')"
          >
            Terminar
          </button>
          <button
            class="btn btn-danger"
            v-bind:class="{ active: brOptToHighlight == 4 }"
            v-on:click="cancelBreak()"
          >
            Cancelar
          </button>
        </div>
      </div>
      <div class="phases-container">
        <div
          class="phase-container"
          v-for="phase in phases"
          :class="phase.emphasis"
          :key="'ph' + phase.id"
        >
          <div
            class="phase-title text-center noselect"
            v-on:click="clickOnPhase(phase)"
          >
            <div class="text-overflow">
              <strong>{{ phase.nombre }}</strong>
            </div>
            <div
              class="menu-options phase-options"
              v-bind:class="{ active: phase.showOptions }"
            >
              <p
                v-if="phase.lbs && phase.lbs.length"
                v-on:click="phaseOptClick(phase, 'init-break-lb')"
              >
                Romper Línea Base
              </p>
              <p v-on:click="phaseOptClick(phase, 'cancel')">
                Cancelar
              </p>
            </div>
          </div>
          <div class="phase-body">
            <!-- items -->
            <div
              v-for="item in phase.items"
              class="item"
              :key="'it' + item.id"
              :class="item.emphasis"
            >
              <div
                class="item-body"
                v-on:click="clickOnItem(item)"
                v-bind:class="item.estado"
              >
                <div
                  class="menu-options item-options"
                  v-bind:class="{ active: item.showOptions }"
                >
                  <p
                    v-if="canViewItemOption(item, 'view-item')"
                    v-on:click="$router.push(`/items/${item.id}/`)"
                  >
                    Ver Item
                  </p>
                  <p
                    v-if="canViewItemOption(item, 'view-trace')"
                    v-on:click="clickOnItemOption(item, 'view-trace')"
                  >
                    Ver traza
                  </p>
                  <p
                    v-if="canViewItemOption(item, 'untrace-item')"
                    v-on:click="clickOnItemOption(item, 'untrace-item')"
                  >
                    Limpiar traza
                  </p>
                  <p
                    v-if="canViewItemOption(item, 'approve')"
                    v-on:click="clickOnItemOption(item, 'approve')"
                  >
                    Aprobar
                  </p>
                  <p
                    v-if="canViewItemOption(item, 'disapprove')"
                    v-on:click="clickOnItemOption(item, 'disapprove')"
                  >
                    Desaprobar
                  </p>
                  <p
                    v-if="canViewItemOption(item, 'cancel')"
                    v-on:click="clickOnItemOption(item, 'cancel')"
                  >
                    Cancelar
                  </p>
                </div>
                <div class="review-state noselect">R</div>
                <div
                  class="for-new-lb-check"
                  :class="{ checked: item.estado == 'N' }"
                >
                  <img
                    class="img-fluid"
                    src="@/assets/check.svg"
                    alt="checked"
                    width="15"
                  />
                </div>
              </div>
              <span
                v-if="item.version"
                class="item-name d-block text-center noselect"
                v-bind:title="item.version.nombre"
              >
                <small>{{ item.version.nombre }}</small>
              </span>
            </div>
            <!-- lbs -->
            <div
              class="lb"
              v-for="lb in phase.lbs"
              v-on:click="clickOnLB(lb)"
              :key="'lb' + lb.id"
              :class="lb.emphasis"
              :style="{
                height: lb.height - 5 + 'px',
                top: lb.position + 17 + 'px'
              }"
            ></div>
          </div>
        </div>
        <div class="text-white ml-5">.</div>
        <!-- edges -->
        <div class="edges-container">
          <Edge
            v-for="e in graphEdges"
            :key="'' + e.start + e.end + e.parentPhase + e.childPhase"
            :start="e.start"
            :end="e.end"
            :parentPhase="e.parentPhase"
            :childPhase="e.childPhase"
            :leftOrder="e.sameParentGap"
            :rightOrder="1"
            :color="e.color"
            :hidden="e.hidden"
          />
        </div>
        <div class="graph-state-label">{{ fancyGraphState }}</div>
        <div class="graph-color-info-label">
          <span class="text-dark">negro</span> = creado/desaprobado/cerrado,
          <span class="text-primary">azul</span> = aprobado,
          <span class="text-success">verde</span> = en línea base/nueva línea
          base, <span class="text-danger">rojo</span> = ruptura/relación borrada
        </div>
        <div class="graph-modal" :class="{ show: graphState == 'br-finish' }">
          <div class="modal-wrapper">
            <div class="title">Enviar solicitud de rúptura</div>
            <div class="body">
              <textarea
                v-model="motive"
                name="motivo"
                placeholder="Agregar motivo de la rúptura"
              ></textarea>
            </div>
            <div class="buttons d-flex">
              <button
                class="btn btn-success"
                v-on:click="finishBreakLastStep(true)"
              >
                Ok
              </button>
              <button
                class="btn btn-danger"
                v-on:click="finishBreakLastStep(false)"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
        <div
          class="modal-shadow"
          :class="{ show: graphState == 'br-finish' }"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
import Edge from "@/components/Edge";
import ProyectoService from "@/services/proyectoService";
import FaseService from "@/services/faseService";
import UserService from "@/services/usuarioService";
import SolicitudService from "@/services/solicitudService";

export default {
  components: {
    Edge
  },
  props: ["proyectoId", "solicitudId"],
  data() {
    return {
      proyecto: null,
      fases: null,
      phases: [],
      graphEdges: [],
      graphState: "normal-view",
      tracedItem: null,
      activeItem: null,
      activePhase: null,
      selectedPhaseCreateLB: null,
      selectedItemsCreateLB: [],
      brOptToHighlight: undefined,
      breakOperationsList: [],
      disapproves: [],
      lastDisapprove: null,
      newLBs: [],
      motive: "",
      user: null,
      solicitud: null,
      opDisapproves: null
    };
  },
  mounted() {
    UserService.me().then(usr => (this.user = usr));
  },
  computed: {
    showBreakOptions: function() {
      switch (this.graphState) {
        case "br-wait-order":
          return true;
        case "br-select-lb":
          return true;
        case "br-act-deac-item":
          return true;
        case "br-create-lb":
          return true;
        case "br-finish":
          return true;
        case "br-cancel":
          return true;
        case "br-view-item-opt":
          return true;
        case "br-create-lb-selected-phase":
          return true;
        case "br-create-lb-selecting-items":
          return true;
        default:
          return false;
      }
    },
    fancyGraphState: function() {
      switch (this.graphState) {
        case "normal-view":
          return "Click a items y fases para ver opciones.";
        case "trace-view":
          return "Vista de trazas. Click a item para ver opciones.";
        case "view-item-opt":
          return "Selecciona una opción o click a otros items o fases.";
        case "view-phase-opt":
          return "Selecciona una opción o click a otros items o fases.";
        case "br-select-lb":
          return "Selecciona una línea base a romper (amarilla).";
        case "br-wait-order":
          return "Esperando siguiente orden de romper línea base.";
        case "br-act-deac-item":
          return "Click a items en revisión para activarlos o desactivarlos.";
        case "br-view-item-opt":
          return "Selecciona una opción o click a otros items en revisión.";
        case "br-create-lb":
          return "Crear nueva línea base. Click al nombre de la fase donde desea crearla.";
        case "br-create-lb-selected-phase":
          return "Click a los items en revisión aprobados de la fase selecta que desee agregar.";
        case "br-create-lb-selecting-items":
          return (
            "Click a los items en revisión aprobados de la fase selecta que desee agregar y " +
            "finalmente al botón Crear."
          );
        case "br-finish":
          return "Terminar proceso de ruptura.";
        case "br-cancel":
          return "Cancelar proceso de ruptura.";
        case "view-operations":
          return "Vista de la solicitud de ruptura.";
        case "error-found":
          return (
            "Las operaciones de esta solicitud ya no son aplicables. " +
            "Rechazando..."
          );
        default:
          return "Something went wrong, honey.";
      }
    }
  },
  watch: {
    proyectoId(value) {
      if (value != null) this.loadAll();
    }
  },
  methods: {
    loadAll() {
      ProyectoService.obtener(this.proyectoId).then(proyecto => {
        this.proyecto = proyecto;
        this.phases = proyecto.fases.sort((a, b) => a.orden - b.orden);
        this.loadPhasesData().then(() => {
          if (this.solicitudId != undefined) this.loadSolicitud();
        });
      });
    },
    async loadPhasesData() {
      for (let idx = 0; idx < this.phases.length; idx++) {
        let phase = this.phases[idx];
        let items, lbs;

        items = await FaseService.listarItems(phase.id);
        items = items.filter(i => i.estado != "D");
        this.$set(phase, "items", items);

        lbs = await FaseService.listarLB(phase.id);
        if (lbs == undefined) this.$set(phase, "lbs", []);
        else
          lbs = lbs.filter(lb => lb.estado != "R").sort((a, b) => a.id - b.id);
        this.$set(phase, "lbs", lbs);

        this.$set(phase, "showOptions", false);
        this.$set(phase, "emphasis", "normal");
        this.loadAndSortItemsAndLBs(phase);
      }

      this.loadChildrenAndParents();

      this.phases.forEach(phase => {
        this.loadEdges(phase);
      });
    },
    loadAndSortItemsAndLBs(phase) {
      let sortedItems = [];
      let remainingItems = phase.items;

      let lbPosition = 0;
      phase.lbs.forEach(lb => {
        this.$set(lb, "phase", phase);
        this.$set(lb, "emphasis", "normal");

        lb.position = 110 * lbPosition;
        lb.height = 110 * lb.items.length;
        lbPosition += lb.items.length;

        lb.items.forEach((item, idx) => {
          const foundIdx = remainingItems.findIndex(i => i.id == item.id);
          const foundItem = remainingItems[foundIdx];
          this.$set(foundItem, "lb", lb);

          lb.items[idx] = foundItem;
          remainingItems.splice(foundIdx, 1);
          sortedItems.push(foundItem);
        });
      });

      remainingItems.forEach(i => this.$set(i, "lb", null));
      Array.prototype.push.apply(sortedItems, remainingItems);
      sortedItems.forEach(item => this.setItemCurrVer(item));
      this.$set(phase, "items", sortedItems);
    },
    setItemCurrVer(item) {
      const version = item.versiones.find(v => v.actual);
      this.$set(item, "version", version);
    },
    loadChildrenAndParents() {
      this.phases.forEach(p => {
        this.$set(p, "sameParents", 0);
        p.items.forEach((i, idx) => {
          this.$set(i, "showOptions", false);
          this.$set(i, "emphasis", "normal");
          this.$set(i, "childrenEdges", []);
          this.$set(i, "parentsEdges", []);
          if (!Object.prototype.hasOwnProperty.call(i, "children"))
            this.$set(i, "children", []);
          if (!Object.prototype.hasOwnProperty.call(i, "parents"))
            this.$set(i, "parents", []);
          this.$set(i, "phase", p);
          this.$set(i, "position", idx);

          i.hijos.forEach(r => {
            if (r.hijo.actual) {
              let child = p.items.find(item => item.id == r.hijo.item_id);

              if (child == undefined) {
                const nextPhase = this.phases.find(
                  phase => phase.orden == p.orden + 1
                );
                child = nextPhase.items.find(item => item.id == r.hijo.item_id);
              }

              if (child != undefined) {
                if (!Object.prototype.hasOwnProperty.call(child, "parents"))
                  this.$set(child, "parents", []);

                child.parents.push(i);
                i.children.push(child);
              }
            }
          });
        });
      });
    },
    loadEdges(phase) {
      phase.items.forEach(i => {
        i.children.forEach(child => {
          if (child.phase.id == phase.id) child.phase.sameParents += 1;

          const edge = {
            start: i.position,
            end: child.position,
            parentPhase: phase.orden,
            childPhase: child.phase.orden,
            sameParentGap: child.phase.sameParents,
            color: "black",
            hidden: false
          };

          i.childrenEdges.push({ edge: edge, child: child });
          child.parentsEdges.push({ edge: edge, parent: i });
          this.graphEdges.push(edge);
        });
      });
    },
    clickOnItem(item) {
      switch (this.graphState) {
        case "normal-view":
          this.toggleItemOptions(item);
          break;
        case "view-phase-opt":
          this.togglePhaseOptions(this.activePhase);
          this.toggleItemOptions(item);
          break;
        case "view-item-opt":
          this.toggleItemOptions(item);
          break;
        case "trace-view":
          this.toggleItemOptions(item);
          break;
        case "br-act-deac-item":
          this.toggleItemOptionsOnBreak(item);
          break;
        case "br-view-item-opt":
          this.toggleItemOptionsOnBreak(item);
          break;
        case "br-create-lb":
          this.selectedPhaseCreateLB = item.phase;
          this.toggleItemForNewLB(item);

          if (this.selectedItemsCreateLB.length > 0) {
            item.phase.emphasis = "create-lb";
            this.selectedPhaseCreateLB = item.phase;
            this.graphState = "br-create-lb-selecting-items";
          } else this.selectedPhaseCreateLB = null;

          break;
        case "br-create-lb-selected-phase":
          this.toggleItemForNewLB(item);

          if (item.estado == "N")
            this.graphState = "br-create-lb-selecting-items";

          break;
        case "br-create-lb-selecting-items":
          this.toggleItemForNewLB(item);
          break;
        default:
          break;
      }
    },
    toggleItemForNewLB(item) {
      if (
        item.estado == "A" &&
        item.emphasis == "review" &&
        item.lb.emphasis == "broken" &&
        this.selectedPhaseCreateLB == item.phase
      ) {
        item.estado = "N";
        this.selectedItemsCreateLB.push(item);
      } else if (item.estado == "N") {
        item.estado = "A";
        const idx = this.selectedItemsCreateLB.findIndex(i => i.id == item.id);
        this.selectedItemsCreateLB.splice(idx, 1);

        if (!this.selectedItemsCreateLB.length)
          this.graphState = "br-create-lb-selected-phase";
      }
    },
    toggleItemOptions(item) {
      if (this.activeItem == item) {
        item.showOptions = false;
        this.activeItem = null;
        if (this.tracedItem) this.graphState = "trace-view";
        else this.graphState = "normal-view";
      } else {
        if (this.activeItem) this.activeItem.showOptions = false;
        item.showOptions = true;
        this.activeItem = item;
        this.graphState = "view-item-opt";
      }
    },
    toggleItemOptionsOnBreak(item) {
      if (item.emphasis != "review") return;

      if (this.activeItem == item) {
        item.showOptions = false;
        this.activeItem = null;
        this.graphState = "br-act-deac-item";
      } else {
        if (this.activeItem) this.activeItem.showOptions = false;
        item.showOptions = true;
        this.activeItem = item;
        this.graphState = "br-view-item-opt";
      }
    },
    canViewItemOption(item, option) {
      switch (option) {
        case "view-item":
          return this.graphState == "view-item-opt";
        case "view-trace":
          return (
            this.graphState == "view-item-opt" &&
            (!this.tracedItem || this.tracedItem.id != item.id)
          );
        case "untrace-item":
          return (
            this.graphState == "view-item-opt" &&
            this.tracedItem &&
            this.tracedItem.id == item.id
          );
        case "approve": {
          return (
            item.emphasis == "review" &&
            item.estado == "L" &&
            item.parents.findIndex(
              p => p.estado != "A" && p.estado != "L" && p.estado != "N"
            ) == -1 &&
            this.graphState == "br-view-item-opt"
          );
        }
        case "disapprove":
          return (
            item.emphasis == "review" &&
            item.estado == "L" &&
            this.graphState == "br-view-item-opt"
          );
        case "cancel":
          return true;
        default:
          return false;
      }
    },
    clickOnItemOption(item, option) {
      item.showOptions = false;

      switch (option) {
        case "view-trace":
          this.traceItem(item);
          break;
        case "untrace-item":
          this.traceItem(item);
          break;
        case "approve": {
          this.approveItem(item);

          this.breakOperationsList.push({
            op: {
              operacion: "aprobar",
              payload: { item: item.id }
            },
            data: item
          });

          this.graphState = "br-act-deac-item";
          break;
        }
        case "disapprove": {
          const disapproveObject = { items: [], lbs: [] };
          this.disapproves.push(disapproveObject);
          this.lastDisapprove = disapproveObject;

          this.disapproveItem(item);

          this.lastDisapprove.lbs.forEach(lb => this.breakLB(lb.lb));

          this.breakOperationsList.push({
            op: {
              operacion: "desaprobar",
              payload: { item: item.id }
            },
            data: item
          });

          this.graphState = "br-act-deac-item";
          break;
        }
        case "cancel":
          if (this.graphState == "br-view-item-opt")
            this.graphState = "br-act-deac-item";
          else this.graphState = "normal-view";
          break;
        default:
          break;
      }
    },
    approveItem(item) {
      item.estado = "A";
    },
    disapproveItem(item) {
      const itemOldState = {
        id: item.id,
        estado: item.estado
      };
      this.lastDisapprove.items.push(itemOldState);

      if (item.estado == "C") return;

      item.estado = "C";

      item.childrenEdges.forEach(e => {
        e.edge.color = "red";

        this.disapproveItem(e.child);

        const lb = e.child.lb;
        if (lb && lb.emphasis != "broken") {
          const lbOldState = { lb: lb };
          this.lastDisapprove.lbs.push(lbOldState);
        }
      });
    },
    traceItem(item) {
      if (this.tracedItem) this.untraceItem(this.tracedItem);

      if (this.tracedItem != item) {
        this.tracedItem = item;
        item.emphasis = "trace-root";

        this.traceParents(item.parents);
        this.traceChildren(item.children);

        this.graphState = "trace-view";
      } else {
        this.tracedItem = null;
        this.graphState = "normal-view";
      }
    },
    traceParents(parents) {
      parents.forEach(p => {
        p.emphasis = "trace-of";
        this.traceParents(p.parents);
      });
    },
    traceChildren(children) {
      children.forEach(c => {
        c.emphasis = "trace-of";
        this.traceChildren(c.children);
      });
    },
    untraceItem(item) {
      item.emphasis = "normal";
      this.untraceParents(item.parents);
      this.untraceChildren(item.children);
    },
    untraceParents(parents) {
      parents.forEach(p => {
        p.emphasis = "normal";
        this.untraceParents(p.parents);
      });
    },
    untraceChildren(children) {
      children.forEach(c => {
        c.emphasis = "normal";
        this.untraceChildren(c.children);
      });
    },
    clickOnPhase(phase) {
      switch (this.graphState) {
        case "normal-view":
          this.togglePhaseOptions(phase);
          break;
        case "view-phase-opt":
          this.togglePhaseOptions(phase);
          break;
        case "view-item-opt":
          if (this.tracedItem) return;
          this.toggleItemOptions(this.activeItem);
          this.togglePhaseOptions(phase);
          break;
        case "br-create-lb":
          phase.emphasis = "create-lb";
          this.selectedPhaseCreateLB = phase;
          this.graphState = "br-create-lb-selected-phase";
          break;
        case "br-create-lb-selected-phase":
          this.selectedPhaseCreateLB.emphasis = "normal";

          if (phase == this.selectedPhaseCreateLB) {
            this.selectedPhaseCreateLB = null;
            this.graphState = "br-create-lb";
          } else {
            phase.emphasis = "create-lb";
            this.selectedPhaseCreateLB = phase;
            this.graphState = "br-create-lb-selected-phase";
          }
          break;
        case "br-create-lb-selecting-items":
          this.selectedPhaseCreateLB.emphasis = "normal";

          if (phase == this.selectedPhaseCreateLB) {
            this.selectedPhaseCreateLB = null;
            this.graphState = "br-create-lb";
          } else {
            phase.emphasis = "create-lb";
            this.selectedPhaseCreateLB = phase;
            this.graphState = "br-create-lb-selected-phase";
          }

          this.selectedItemsCreateLB.forEach(i => {
            i.estado = "A";
          });

          this.selectedItemsCreateLB = [];
          break;
        default:
          break;
      }
    },
    togglePhaseOptions(phase) {
      if (this.activePhase == phase) {
        phase.showOptions = false;
        this.activePhase = null;
        this.graphState = "normal-view";
      } else {
        if (this.activePhase) this.activePhase.showOptions = false;
        phase.showOptions = true;
        this.activePhase = phase;
        this.graphState = "view-phase-opt";
      }
    },
    phaseOptClick(phase, option) {
      phase.showOptions = false;

      switch (option) {
        case "init-break-lb":
          this.initBreakLB(phase);
          break;

        case "cancel":
          this.graphState = "normal-view";
          break;
      }
    },
    initBreakLB(phase) {
      phase.lbs.forEach(lb => {
        lb.emphasis = "breakable";
      });

      this.graphState = "br-select-lb";
    },
    clickOnLB(lb) {
      switch (this.graphState) {
        case "br-select-lb":
          this.breakLB(lb);

          lb.phase.lbs.forEach(l => {
            if (l.id != lb.id) l.emphasis = "normal";
          });

          this.breakOperationsList.push({
            op: {
              operacion: "romper",
              payload: { linea_base: lb.id }
            },
            data: lb
          });

          this.graphState = "br-wait-order";
          this.breakNextOperation(1, "br-act-deac-item");
          break;
        default:
          break;
      }
    },
    breakLB(lb) {
      lb.emphasis = "broken";

      lb.items.forEach(i => {
        i.emphasis = "review";
      });
    },
    breakNextOperation(btnOrder, nextStep) {
      switch (this.graphState) {
        case "br-select-lb":
          break;
        case "br-view-item-opt":
          break;
        case "br-create-lb-selected-phase":
          if (btnOrder == 2) {
            this.selectedPhaseCreateLB.emphasis = "normal";
            this.selectedPhaseCreateLB = null;

            this.graphState = "br-wait-order";
            this.brOptToHighlight = undefined;
          }
          break;
        case "br-create-lb-selecting-items":
          if (btnOrder == 2) {
            this.selectedPhaseCreateLB.emphasis = "normal";
            this.selectedPhaseCreateLB = null;

            this.selectedItemsCreateLB.forEach(i => {
              i.estado = "A";
            });
            this.selectedItemsCreateLB = [];

            this.graphState = "br-wait-order";
            this.brOptToHighlight = undefined;
          }
          break;
        case nextStep:
          this.graphState = "br-wait-order";
          this.brOptToHighlight = undefined;
          break;
        default:
          if (nextStep == "br-finish") this.finishBreak();
          else this.graphState = nextStep;

          this.brOptToHighlight = btnOrder;
      }
    },
    createLB() {
      if (
        this.graphState != "br-create-lb-selecting-items" ||
        this.selectedPhaseCreateLB == null ||
        !this.selectedItemsCreateLB.length
      )
        return;

      const phase = this.selectedPhaseCreateLB;
      const items = this.selectedItemsCreateLB;

      this.breakOperationsList.push({
        op: {
          operacion: "crear",
          payload: {
            fase: phase.id,
            items: items.map(i => i.id)
          }
        },
        data: {
          phase: phase,
          items: items
        }
      });

      // crear nueva lb
      const newLB = {
        id: phase.id + "-" + this.newLBs.length,
        estado: "C",
        items: [],
        phase: phase,
        emphasis: "new",
        position: 110 * phase.items.length,
        height: 110 * items.length
      };

      this.newLBs.push(newLB);
      phase.lbs.push(newLB);

      // crear nuevos items
      items.forEach(i => {
        i.emphasis = "hidden";
        const movedItem = {
          id: i.id + ".1",
          estado: "A",
          version: i.version,
          childrenEdges: i.childrenEdges,
          parentsEdges: i.parentsEdges,
          showOptions: i.showOptions,
          emphasis: "normal",
          lb: newLB,
          position: phase.items.length
        };
        newLB.items.push(movedItem);
        phase.items.push(movedItem);
      });

      // cargar aristas nuevas
      newLB.items.forEach(i => {
        i.parentsEdges.forEach(p => {
          p.edge.end = i.position;
        });
        i.childrenEdges.forEach(c => {
          c.edge.start = i.position;
        });
      });

      this.selectedPhaseCreateLB.emphasis = "normal";
      this.selectedPhaseCreateLB = null;
      this.selectedItemsCreateLB = [];

      this.brOptToHighlight = undefined;
      this.graphState = "br-wait-order";
    },
    cancelBreak() {
      if (this.graphState != "br-wait-order" && this.graphState != "br-finish")
        return;

      while (this.breakOperationsList.length) {
        let op = this.breakOperationsList.pop();
        this.undoOperation(op);
      }
      this.graphState = "normal-view";
    },
    undoLastOp() {
      if (this.graphState == "br-wait-order")
        this.undoOperation(this.breakOperationsList.pop());
      if (!this.breakOperationsList.length) this.graphState = "normal-view";
    },
    undoOperation(operation) {
      switch (operation.op.operacion) {
        case "romper": {
          this.undoBreak(operation);
          break;
        }
        case "aprobar": {
          this.undoApprove(operation);
          break;
        }
        case "desaprobar": {
          this.undoDisapprove(operation);
          break;
        }
        case "crear": {
          this.undoCreate(operation);
          break;
        }
        default:
          break;
      }
    },
    undoBreak(operation) {
      const lb = operation.data;

      lb.emphasis = "normal";

      lb.items.forEach(i => {
        i.emphasis = "normal";
      });
    },
    undoApprove(operation) {
      const item = operation.data;
      item.estado = "L";
    },
    undoDisapprove(operation) {
      const item = operation.data;
      this.undisapprove(item);

      this.lastDisapprove.lbs.forEach(lb => {
        this.undoBreak({ data: lb.lb });
      });

      this.disapproves.pop();
      this.lastDisapprove = this.disapproves[this.disapproves.length - 1];
    },
    undisapprove(item) {
      const itemOldState = this.getOldItemState(item);

      item.estado = itemOldState.estado;

      item.childrenEdges.forEach(e => {
        e.edge.color = "black";
        this.undisapprove(e.child);
      });
    },
    undoCreate(operation) {
      const oldItems = operation.data.items;
      const phase = operation.data.phase;

      phase.lbs.pop();

      while (oldItems.length > 0) {
        const item = oldItems.pop();
        phase.items.pop();

        item.estado = "A";
        item.emphasis = "review";

        item.parentsEdges.forEach(p => {
          p.edge.end = item.position;
        });
        item.childrenEdges.forEach(c => {
          c.edge.start = item.position;
        });
      }
    },
    getOldItemState(item) {
      const idx = this.lastDisapprove.items.findIndex(i => i.id == item.id);
      const itemOldState = this.lastDisapprove.items[idx];
      this.lastDisapprove.items.splice(idx, 1);
      return itemOldState;
    },
    finishBreak() {
      // for (let i = 0; i < this.phases.length; i++) {
      //   let phase = this.phases[i];

      //   invalidForBreak = phase.items.some(
      //     item =>
      //       item.emphasis == "review" &&
      //       item.estado != "A" &&
      //       item.estado != "N" &&
      //       item.estado != "C"
      //   );

      //   if (invalidForBreak) break;
      // }

      if (this.hasItemsOnReview()) {
        alert(
          "Aún hay ítems en revisión que no fueron desaprobados " +
            "o aprobados y agregados a una nueva línea base."
        );
        this.graphState = "br-wait-order";
      } else this.graphState = "br-finish";
    },
    finishBreakLastStep(accept) {
      if (accept) {
        const payload = {
          usuario_id: this.user.id,
          operaciones: this.breakOperationsList.map(op => op.op),
          motivo: this.motive
        };
        ProyectoService.solicitarRuptura(payload);
        this.cancelBreak();
      } else {
        this.graphState = "br-wait-order";
        this.brOptToHighlight = undefined;
      }

      this.motive = "";
    },
    hasItemsOnReview() {
      let foundOnReview = false;

      this.phases.forEach(p => {
        if (!foundOnReview)
          foundOnReview = p.items.some(
            i => i.emphasis == "review" && (i.estado == "L" || i.estado == "A")
          );
      });

      return foundOnReview;
    },
    loadSolicitud() {
      SolicitudService.obtener(this.solicitudId).then(solicitud => {
        this.solicitud = solicitud;
        this.solicitud.operacion = JSON.parse(solicitud.operacion);
        this.loadOperations();
      });
    },
    loadOperations() {
      this.graphState = "view-operations";
      const ops = this.solicitud.operacion;

      try {
        ops.forEach(op => {
          switch (op.operacion) {
            case "romper": {
              let lb;
              this.phases.forEach(p => {
                if (lb) return;
                else lb = p.lbs.find(lb => lb.id == op.payload.linea_base);
              });
              this.$set(op.payload, "lb", lb);
              break;
            }
            case "aprobar": {
              let item;
              this.phases.forEach(p => {
                if (item) return;
                else item = p.items.find(i => i.id == op.payload.item);
              });
              this.$set(op.payload, "item", item);
              break;
            }
            case "desaprobar": {
              let item;
              this.phases.forEach(p => {
                if (item) return;
                else item = p.items.find(i => i.id == op.payload.item);
              });
              this.$set(op.payload, "item", item);
              break;
            }
            case "crear": {
              let phaseID = op.payload.fase;
              let phase;
              this.phases.forEach(p => {
                if (p.id == phaseID) phase = p;
              });
              this.$set(op.payload, "phase", phase);

              let items = [];
              op.payload.items.forEach(itemID => {
                let item;
                this.phases.forEach(p => {
                  if (item) return;
                  else item = p.items.find(i => i.id == itemID);
                });
                items.push(item);
                item = undefined;
              });
              this.$set(op.payload, "items", items);
              break;
            }
            default:
              break;
          }
        });

        ops.forEach(op => {
          switch (op.operacion) {
            case "romper":
              this.opRomper(op.payload.lb);
              break;
            case "aprobar":
              this.opAprobar(op.payload.item);
              break;
            case "desaprobar":
              this.opDesaprobar(op.payload.item);
              break;
            case "crear":
              this.opCrear(op.payload);
              break;
            default:
              break;
          }
        });
      } catch (error) {
        this.graphState = "error-found";
      }
    },
    opRomper(lb) {
      lb.emphasis = "broken";

      lb.items.forEach(i => {
        i.emphasis = "review";
      });
    },
    opAprobar(item) {
      item.estado = "A";
    },
    opDesaprobar(item) {
      this.opDisapproves = { lbs: [], items: [] };
      this.opDisapproveItemGral(item);
      this.opDisapproves.lbs.forEach(lb => this.breakLB(lb.lb));
    },
    opCrear(op) {
      const phase = op.phase;
      const items = op.items;

      // crear nueva lb
      const newLB = {
        id: phase.id + "-" + this.newLBs.length,
        estado: "C",
        items: [],
        phase: phase,
        emphasis: "new",
        position: 110 * phase.items.length,
        height: 110 * items.length
      };

      this.newLBs.push(newLB);
      phase.lbs.push(newLB);

      // crear nuevos items
      items.forEach(i => {
        i.emphasis = "hidden";
        const movedItem = {
          id: i.id + ".1",
          estado: "A",
          version: i.version,
          childrenEdges: i.childrenEdges,
          parentsEdges: i.parentsEdges,
          showOptions: i.showOptions,
          emphasis: "normal",
          lb: newLB,
          position: phase.items.length
        };
        newLB.items.push(movedItem);
        phase.items.push(movedItem);
      });

      // cargar aristas nuevas
      newLB.items.forEach(i => {
        i.parentsEdges.forEach(p => {
          p.edge.end = i.position;
        });
        i.childrenEdges.forEach(c => {
          c.edge.start = i.position;
        });
      });
    },
    opDisapproveItemGral(item) {
      if (item.estado == "C") return;

      item.estado = "C";

      item.childrenEdges.forEach(e => {
        e.edge.color = "red";

        this.opDisapproveItemGral(e.child);

        const lb = e.child.lb;
        if (lb && lb.emphasis != "broken") {
          this.opDisapproves.lbs.push({ lb: lb });
        }
      });
    }
  }
};
</script>

<style>
.graph-state-label {
  font-size: 16px;
  left: 5px;
  position: absolute;
  top: 5px;
}

.graph-color-info-label {
  font-size: 16px;
  left: 5px;
  position: absolute;
  bottom: 5px;
  white-space: nowrap;
}

.graph-color-info-label span {
  font-weight: 700;
}

.grapho-upper-sector {
  display: flex;
  justify-content: space-between;
}

.grapho-upper-sector * {
  display: inline;
}

.grapho-upper-sector .break-btns .btn.active {
  color: black;
}

.phases-container {
  display: flex;
  border: 2px solid gray;
  border-radius: 20px;
  overflow-x: scroll;
  padding: 15px 60px 30px 60px;
  position: relative;
  width: auto;
}

.phase-container {
  margin-top: 45px;
  width: 80px;
}

.phase-container + .phase-container {
  margin-left: 240px;
}

.phase-container.create-lb .phase-title {
  background: lightgray;
}

.phase-title {
  cursor: pointer;
  position: relative;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-options.phase-options {
  display: none;
  top: 100%;
}

.menu-options.item-options {
  display: none;
  top: 50%;
}

.menu-options.active {
  background: var(--light);
  border: 1px solid gray;
  border-radius: 10px;
  display: block;
  font-size: 10px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 5;
}

.menu-options p {
  cursor: pointer;
  margin: 0;
  padding: 0 5px;
  text-align: center;
}

.menu-options p:hover {
  background: lightgray;
}

.menu-options p + p {
  border-top: 1px solid gray;
}

.phase-body {
  border-radius: 10px;
  min-height: 50px;
  padding: 15px 0;
  position: relative;
}

.item {
  padding: 15px;
  position: relative;
  z-index: 2;
}

.item-body {
  cursor: pointer;
  height: 50px;
  position: relative;
  width: 50px;
}

.item-body.C {
  background: var(--dark);
}
.item-body.A {
  background: var(--primary);
}
.item-body.L {
  background: var(--success);
}
.item-body.D {
  background: var(--danger);
}
.item-body.N {
  background: var(--primary);
}

.item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item.trace-root {
  background: rgba(128, 128, 128, 0.75);
}

.item.trace-of {
  background: rgb(211, 211, 211, 0.75);
}

.item.hidden {
  visibility: hidden;
}

.review-state {
  display: none;
}

.item.review .review-state {
  background: var(--warning);
  border: 2px solid black;
  border-radius: 15px;
  color: black;
  display: block;
  font-size: 15px;
  height: 24px;
  position: absolute;
  right: -6px;
  text-align: center;
  top: -6px;
  width: 24px;
}

.for-new-lb-check {
  display: none;
  line-height: 50px;
  text-align: center;
}

.for-new-lb-check.checked {
  display: block;
}

.lb {
  border: 3px dotted black;
  cursor: pointer;
  position: absolute;
  width: 80px;
  z-index: 1;
}

.lb.breakable {
  border-color: var(--yellow);
  z-index: 4;
}

.lb.broken {
  border-color: var(--danger);
  cursor: auto;
}

.lb.new {
  border-color: var(--success);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section-container {
  margin-bottom: 100px;
}

.graph-modal,
.modal-shadow {
  display: none;
}

.graph-modal.show {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  height: 175px;
  left: 50%;
  position: absolute;
  top: 20%;
  transform: translateX(-50%);
  width: 300px;
  z-index: 9;
}

.modal-wrapper {
  height: 100%;
  padding: 5px;
  width: 100%;
}

.modal-wrapper .title {
  padding-bottom: 5px;
  width: 100%;
}

.modal-wrapper textarea {
  resize: none;
  width: 100%;
}

.modal-shadow.show {
  background: black;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  opacity: 0.5;
  top: 0;
  width: 100%;
  z-index: 8;
}
</style>
