<template>
  <nav class="navbar navbar-expand-lg navbar-light mb-5">
    <div class="container justify-content-between">
      <router-link class="navbar-brand" to="/">
        <h4>IS<span class="text-success">2</span> Approver</h4>
      </router-link>
      <button class="icon-container" v-on:click="$emit('switch-sidebar')">
        <img class="img-fluid" src="@/assets/options-icon.png" alt="" />
      </button>
    </div>
  </nav>
</template>
<script>
import authService from "../services/authService";
import UsuarioService from "../services/usuarioService";
import { mapActions } from "vuex";
export default {
  methods: {
    logout() {
      authService.logout();
      this.$router.push("/login");
      this.removeMyPerms();
    },
    hasPermission(permiso) {
      return this.permisos.indexOf(permiso) > -1;
    },
    switchSidebar() {
      this.$parent.sidebar = !this.$parent.sidebar;
    },
    ...mapActions(["removeMyPerms"])
  },
  data() {
    return {
      isLoggedIn: false,
      permisos: []
    };
  },
  mounted() {
    this.isLoggedIn = authService.isLoggedIn();
    UsuarioService.misPermisos().then(permisos => {
      this.permisos = permisos;
    });
  }
};
</script>
<style>
.icon-container {
  margin: 0;
  padding: 0;
  width: 16px;
}
</style>
