<template>
  <router-link :to="`/proyectos/${project.id}/`" class="project-container">
    <div class="relative-content">
      <h5 class="title">{{ project.nombre }}</h5>
      <h5>Inicio: {{ formattedInitDate }}</h5>
      <h5>Gerente: {{ project.gerente.user.first_name }}</h5>
      <h5 class="float-left">
        <span class="ellipse" :class="stateColor"></span>
        {{ projectFullState }}
      </h5>
      <h5 class="float-right">{{ project.duracion }} semana(s)</h5>
    </div>
    <div class="absolute-content">
      <router-link
        :to="`/proyectos/${project.id}/edit`"
        class="pencil-container"
      >
        <img class="img-fluid " src="@/assets/pencil-icon.png" alt="" />
      </router-link>
    </div>
  </router-link>
</template>
<script>
export default {
  props: ["project"],
  data() {
    return {
      formattedInitDate: "",
      projectFullState: "",
      stateColor: ""
    };
  },
  mounted() {
    this.loadData();
  },
  methods: {
    loadData() {
      switch (this.project.estado) {
        case "C":
          this.projectFullState = "Creado";
          this.stateColor = "bg-warning";
          break;

        case "I":
          this.projectFullState = "Iniciado";
          this.stateColor = "bg-primary";
          break;

        case "T":
          this.projectFullState = "Terminado";
          this.stateColor = "bg-success";
          break;

        case "X":
          this.projectFullState = "Cancelado";
          this.stateColor = "bg-danger";
          break;
      }
      let initDate = this.project.fecha_inicio;
      initDate = initDate.split("-");
      this.formattedInitDate =
        initDate[2] + "/" + initDate[1] + "/" + initDate[0];
    }
  }
};
</script>
<style>
.project-container {
  display: inline-block;
  background: white;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
  height: 136px;
  margin: 10px;
  padding: 21px 18px;
  position: relative;
  overflow: hidden;
  width: 250px;
  z-index: 0;
}

.pencil-container {
  align-items: center;
  background: black;
  border-radius: 15px;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 17px;
  right: 17px;
  width: 30px;
  z-index: 1;
}

h5 {
  color: gray;
  font-size: 14px;
  line-height: 17px;
  margin: 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  color: black;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipse {
  border-radius: 3px;
  display: inline-block;
  height: 6px;
  text-align: center;
  width: 6px;
}
</style>
