<template>
  <div v-if="hasPerm('api.view_usuario')">
    <div class="container">
      <div class="col-md-12">
        <h2>Usuarios</h2>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
          <tr
            v-for="usuario in usuarios"
            :key="usuario.id"
            v-on:click="$router.push(`/usuarios/${usuario.id}`)"
          >
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.user.first_name }}</td>
            <td>{{ usuario.user.email }}</td>
            <td>
              <button
                class="btn btn-success"
                v-if="hasPerm('api.add_usuario') && usuario.estado == 'I'"
                v-on:click="activar(usuario.id)"
              >
                Activar
              </button>
              <button
                class="btn btn-danger"
                v-if="hasPerm('api.delete_usuario') && usuario.estado == 'A'"
                v-on:click="desactivar(usuario.id)"
              >
                Desactivar
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div v-else style="text-align: center;">
    No tiene el permiso para ver usuarios de este proyecto.
  </div>
</template>

<script>
import UsuarioSevice from "@/services/usuarioService";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      usuarios: []
    };
  },
  mounted() {
    this.listar();
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    listar() {
      UsuarioSevice.listar().then(usuarios => {
        this.usuarios = usuarios;
      });
    },
    activar(id) {
      UsuarioSevice.activar(id).then(() => {
        this.listar();
      });
    },
    desactivar(id) {
      UsuarioSevice.desactivar(id).then(() => {
        this.listar();
      });
    }
  }
};
</script>

<style></style>
