<template>
  <div v-if="hasPerm('api.view_usuario')" class="container">
    <div class="row">
      <div class="col-md-12 pb-3">
        <h1>Usuario</h1>
        <p>ID: {{ usuario.id }}</p>
        <p>Nombre: {{ usuario.user.first_name }}</p>
        <p>Email: {{ usuario.user.email }}</p>
        <!-- <div>
          <router-link :to="`/roles/${rol.id}/edit`" class="btn btn-primary"
            >Modificar permisos</router-link
          >&nbsp;
          <button class="btn btn-danger" v-on:click="eliminar()">
            Eliminar
          </button>
        </div> -->
      </div>
      <div class="col-md-12">
        <h1>Roles</h1>
        <table class="table table-striped">
          <tr>
            <th style="width: 10%;">ID</th>
            <th style="width: 30%;">Descripción</th>
            <th style="width: auto;">Acción</th>
          </tr>
          <tr v-for="rol in roles" :key="rol.id">
            <td>{{ rol.id }}</td>
            <td>{{ rol.group.name }}</td>
            <td>
              <div class="custom-control custom-switch">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  v-bind:id="rol.id"
                  v-model="rol.checked"
                  v-on:click="switchRol"
                />
                <label class="custom-control-label" v-bind:for="rol.id">{{
                  rol.checked ? "Agregado" : "Ausente"
                }}</label>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div v-else style="text-align: center;">
    No tiene el permiso para ver usuarios.
  </div>
</template>

<script>
import UsuarioService from "../../services/usuarioService";
import RolService from "../../services/rolService";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      tipos: {
        S: "Sistema",
        P: "Proyecto",
        F: "Fase"
      },
      usuario: {
        id: null,
        estado: null,
        firebase_uid: null,
        user: {
          username: null,
          first_name: null,
          last_name: null,
          email: null
        }
      },
      roles: []
    };
  },
  mounted() {
    this.obtener();
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    obtener() {
      UsuarioService.obtener(this.$route.params["id"]).then(usuario => {
        this.usuario = usuario;
      });
      UsuarioService.roles(this.$route.params["id"]).then(userRoles => {
        RolService.listar("S").then(roles => {
          this.roles = roles.map(rol => {
            return {
              ...rol,
              checked: userRoles.map(x => x.id).indexOf(rol.id) != -1
            };
          });
        });
      });
    },
    eliminar() {},
    switchRol() {
      let element = event.target;
      let rol = { rol_id: element.id };
      let checked = element.checked;

      if (checked) {
        UsuarioService.agregarRol(this.$route.params["id"], rol);
      } else {
        UsuarioService.eliminarRol(this.$route.params["id"], rol);
      }
    }
  }
};
</script>

<style />
