<template>
  <div v-if="hasPerm('api.view_fase')">
    <label for="">Nombre</label>
    <input type="text" v-model="fase.nombre" />
    <label for="">Proyecto</label>
    <input type="text" v-model="fase.proyecto_id" />
    <label for="">Estado</label>
    <input type="text" v-model="fase.estado" />
    <button v-on:click="crear()">Crear Fase</button>
    <hr />
    <p
      v-on:click="$router.push(`/fases/${fase.id}/`)"
      v-for="fase in fases"
      :key="fase.id"
    >
      {{ fase.nombre }}
    </p>
  </div>
  <div v-else style="text-align: center;">
    No tienes el permiso para ver fases.
  </div>
</template>

<script>
import FaseService from "../../services/faseService";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      fases: [],
      fase: {
        id: null,
        nombre: null,
        proyecto_id: null,
        estado: null,
        orden: null
      }
    };
  },
  mounted() {
    this.listar();
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    listar() {
      FaseService.listar().then(fases => {
        this.fases = fases;
      });
    },
    crear() {
      FaseService.crear(this.fase).then(() => {
        this.listar();
      });
    }
  }
};
</script>

<style />
