<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>{{ fase.nombre }}</h1>
          <p>Id: {{ fase.id }}</p>
          <p>Proyecto: {{ fase.proyecto_id }}</p>
          <p>Estado: {{ stateToString(fase.estado) }}</p>
          <p>Orden: {{ fase.orden }}</p>
          <!--
          <h1>Fases</h1>
          <p v-for="fase in proyecto.fases" :key="fase.id">
            {{ fase.nombre }}
          </p>
          !-->
          <button
            v-if="estado_proyecto == 'C'"
            v-on:click="eliminar()"
            class="btn btn-danger"
          >
            Eliminar
          </button>
          <button
            v-if="estado_proyecto == 'I' && fase.estado == 'A'"
            v-on:click="cerrar()"
            class="btn btn-success"
          >
            Cerrar Fase
          </button>
        </div>
        <div class="col-md-6">
          <!-- Importar tipo item -->
          <div v-if="estado_proyecto == 'C'" style="margin-top: 40px">
            <h3>Importar Tipo de Item</h3>
            <div class="form-group">
              <label for>Nombre</label>
              <select name="" id="" class="form-control" v-model="tItem">
                <option value="" selected>Seleccionar Tipo de Item</option>
                <option
                  :value="t"
                  v-for="t in tiposDeItems"
                  :key="'t' + t.id"
                  >{{ t.nombre }}</option
                >
              </select>
            </div>
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tipo de Dato</th>
                  </tr>
                  <tr v-for="campo in tItem.campos" :key="'tc' + campo.id">
                    <td>{{ campo.id }}</td>
                    <td>{{ campo.nombre }}</td>
                    <td>{{ campo.tipo_dato }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <button v-on:click="importarTipoItem()" class="btn btn-primary">
              Importar
            </button>
          </div>
          <!-- Agregar tipo item -->
          <div v-if="estado_proyecto == 'C'" style="margin-top: 40px">
            <h3>Agregar Tipo de Item</h3>
            <div class="form-group">
              <label for>Nombre</label>
              <input
                class="form-control"
                type="text"
                v-model="tipoItem.nombre"
              />
            </div>
            <button v-on:click="agregarTipoItem()" class="btn btn-primary">
              Agregar
            </button>
          </div>
          <div style="margin-top: 40px">
            <h3>Agregar Miembro</h3>
            <div class="form-group">
              <label for>Usuario</label>
              <select name id class="form-control" v-model="rolFase.usuario_id">
                <option value selected>Seleccionar Usuario</option>
                <option
                  :value="usuario.id"
                  v-for="usuario in usuarios.filter(
                    usuario =>
                      miembros
                        .map(miembro => miembro.usuario.id)
                        .indexOf(usuario.id) == -1
                  )"
                  :key="usuario.id"
                  >{{ usuario.user.first_name }}</option
                >
              </select>
            </div>
            <div class="form-group">
              <label for>Rol</label>
              <select name id class="form-control" v-model="rolFase.rol_id">
                <option value selected>Seleccionar Rol</option>
                <option
                  :value="rol.id"
                  v-for="rol in rolesFases"
                  :key="rol.id"
                  >{{ rol.group.name }}</option
                >
              </select>
            </div>
            <button v-on:click="agregarMiembro()" class="btn btn-primary">
              Agregar
            </button>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 50px">
        <div class="col-md-6">
          <h1>Miembros</h1>
          <table class="table">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Rol</th>
              <th>Acciones</th>
            </tr>
            <tr v-for="miembro in miembros" :key="miembro.id">
              <td>{{ miembro.usuario.id }}</td>
              <td>{{ miembro.usuario.user.first_name }}</td>
              <td>{{ miembro.rol.group.name }}</td>
              <td>
                <button
                  class="btn btn-danger"
                  v-on:click="eliminarMiembro(miembro.usuario.id)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <h1>Tipos de Items</h1>
          <table class="table">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
            <tr v-for="tipo in tipoItems" :key="tipo.id">
              <td>{{ tipo.id }}</td>
              <td v-on:click="$router.push(`/tipo-items/${tipo.id}`)">
                {{ tipo.nombre }}
              </td>
              <td>
                <button
                  v-if="estado_proyecto == 'C'"
                  class="btn btn-danger"
                  v-on:click="eliminarTipoItem(tipo.id)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- todo lo relativo a crear y listar items -->
      <div class="row" style="margin-top: 50px">
        <!-- crear item -->
        <div class="col-md-6">
          <h1>Crear Item</h1>
          <div class="form-group">
            <label for="">Nombre</label>
            <input class="form-control" type="text" v-model="version1.nombre" />
          </div>
          <div class="form-group">
            <label for="">Peso</label>
            <input class="form-control" type="number" v-model="version1.peso" />
          </div>
          <div class="form-group">
            <label for="">Padres</label>
            <select
              multiple="true"
              name=""
              class="form-control"
              v-model="padresSelectos"
            >
              <option
                v-for="padre in padresValidos"
                :value="padre.id"
                :key="'p' + padre.id"
              >
                {{ padre.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Tipo de Item</label>
            <select name="" id="" class="form-control" v-model="selectedTdI">
              <option v-for="tdi in tipoItems" :value="tdi" :key="'t' + tdi.id">
                {{ tdi.nombre }}
              </option>
            </select>
          </div>
          <div class="form-group" style="margin-left: 15px">
            <label for="">Atributos del Tipo de Item</label>
            <div
              v-for="campo in version1.valores_personalizados"
              :key="'c' + campo.id"
            >
              <label :for="'i' + campo.id">{{ campo.nombre }}: </label>
              <input
                :type="campo.type"
                name=""
                :key="'i' + campo.id"
                v-bind:placeholder="campo.type"
                v-model="campo.valor"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="">Cargar archivo</label>
            <input type="file" name="" id="item-file-input" />
          </div>
          <button
            v-on:click="crearItem()"
            class="btn btn-primary"
            style="margin-bottom: 30px;"
          >
            Crear Item
          </button>
        </div>
        <!-- listar items -->
        <div class="col-md-6">
          <h1>Lista de items</h1>
          <table class="table table-striped">
            <tr>
              <th style="width: 10%">ID</th>
              <th style="width: 50%">Nombre</th>
              <th style="width: 40%">Acciones</th>
            </tr>
            <tr v-for="item in items" :key="'l' + item.id">
              <td>
                {{ item.id }}
              </td>
              <td v-on:click="$router.push(`/items/${item.id}/`)">
                {{ item.currVer.nombre }}
              </td>
              <td>
                <button
                  v-if="item.estado == 'C'"
                  class="btn btn-danger"
                  v-on:click="desactivar(item)"
                >
                  Desactivar
                </button>
                <span v-else-if="item.estado == 'D'">Desactivado</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- linea base -->
      <div class="row">
        <!-- crear lb -->
        <div class="col-md-6 form-group">
          <label for="">Crear Linea Base</label><br />
          <select
            multiple
            class="form-control"
            name=""
            id=""
            v-model="itemsParaLB"
          >
            <option
              v-for="item in approvedItems"
              :value="item.id"
              :key="'il' + item.id"
              >{{ item.currVer.nombre }}</option
            >
          </select>
          <button
            class="btn btn-primary"
            style="margin-bottom: 30px;"
            v-on:click="crearLB()"
          >
            Crear
          </button>
        </div>
        <!-- listar lb -->
        <div class="col-md-6">
          <h1>Lista de Lineas Base</h1>
          <table class="table table-striped">
            <tr>
              <th style="width: 20%">ID</th>
              <th style="width: 80%">Items</th>
            </tr>
            <tr v-for="lineaBase in lineasBase" :key="'lb' + lineaBase.id">
              <td v-on:click="$router.push(`/linea-base/${lineaBase.id}/`)">
                {{ lineaBase.id }}
              </td>
              <td>
                <span v-for="item in lineaBase.items" :key="'li' + item.id">
                  {{ item.id + " " }}
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FaseService from "../../services/faseService";
import ProyectoService from "../../services/proyectoService";
import RolService from "../../services/rolService";
import UsuarioService from "../../services/usuarioService";
import tipoItemService from "../../services/tipoItemService";
import itemService from "../../services/itemService";
import LineaBaseService from "../../services/lineaBaseService";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      fase: {
        id: null,
        nombre: null,
        proyecto: null,
        estado: null,
        orden: null
      },
      rolesFases: [],
      usuarios: [],
      estado_proyecto: [],
      rolFase: {
        usuario_id: null,
        rol_id: null
      },
      miembros: [],
      permisosFase: [],
      tiposDeItems: [] /* almacena todos los tipos de items existentes */,
      tItem: {
        /* almacena el tipo de item a importar */
        id: null,
        nombre: null,
        fase_id: null
      },
      tipoItems: [],
      tipoItem: {
        nombre: null,
        fase_id: null
      },
      newItem: {
        id: "",
        fecha_creado: "",
        estado: "C",
        hijos: [],
        versiones: []
      },
      version1: {
        id: "",
        numero: "1",
        nombre: "",
        peso: "",
        archivo: "",
        item_id: "",
        actual: true,
        padres: [],
        valores_personalizados: []
      },
      padresValidos: [],
      padresSelectos: [],
      items: [],
      selectedTdI: "",
      itemsParaLB: [],
      lineasBase: []
    };
  },
  created() {
    FaseService.misPermisos(this.$route.params["id"]).then(permisos => {
      this.$store.commit("setMyPhasePerms", permisos);
      if (permisos.indexOf("view_fase") == -1) {
        this.$router.push("/");
        this.$notify({
          title: "Error",
          text: "Acceso Restringido",
          type: "error"
        });
      }
    });
  },
  mounted() {
    this.obtener();
    this.loadRoles();
    this.loadUsuarios();
    this.loadMiembros();
    this.loadPermisos();
    this.loadTiposDeItems();
    this.loadTipoItems();
    this.listarItems();
    this.loadValidParents();
  },
  computed: {
    approvedItems: function() {
      return this.items.filter(item => item.estado == "A");
    },
    ...mapGetters(["hasPhasePerm"])
  },
  methods: {
    stateToString: function(key) {
      switch (key) {
        case "C":
          return "Cerrada";

        case "A":
          return "Abierta";
      }

      return "";
    },
    obtener() {
      FaseService.obtener(this.$route.params["id"]).then(fase => {
        this.fase = fase;
        ProyectoService.obtener(fase.proyecto_id).then(
          proyecto => (this.estado_proyecto = proyecto.estado)
        );
        this.listarLineasBase();
      });
    },
    eliminar() {
      FaseService.eliminar(this.fase.id).then(() => {
        this.$router.push("/proyectos/" + this.fase.proyecto_id);
      });
    },
    loadRoles() {
      RolService.listar("F").then(roles => {
        this.rolesFases = roles;
      });
    },
    loadUsuarios() {
      UsuarioService.listar().then(usuarios => {
        this.usuarios = usuarios;
      });
    },
    loadMiembros() {
      FaseService.miembros(this.$route.params["id"]).then(miembros => {
        this.miembros = miembros;
      });
    },
    agregarMiembro() {
      FaseService.agregarMiembro(this.$route.params["id"], this.rolFase).then(
        miembros => {
          this.miembros = miembros;
          this.loadPermisos();
        }
      );
    },
    eliminarMiembro(miembro) {
      FaseService.eliminarMiembro(this.$route.params["id"], {
        usuario_id: miembro
      }).then(miembros => {
        this.miembros = miembros;
        this.loadPermisos();
      });
    },
    loadPermisos() {
      FaseService.misPermisos(this.$route.params["id"]).then(permisos => {
        this.permisosFase = permisos;
      });
    },
    loadTiposDeItems() {
      /* carga TODOS los tipos de items */
      tipoItemService.listar().then(tiposDeItems => {
        this.tiposDeItems = tiposDeItems;
      });
    },
    loadTipoItems() {
      FaseService.tipoItems(this.$route.params["id"]).then(tipos => {
        this.tipoItems = tipos;
        this.tipoItems.forEach(tdi => {
          tdi.campos.forEach(campo => {
            switch (campo.tipo_dato) {
              case "String":
                this.$set(campo, "type", "text");
                break;
              case "Integer":
                this.$set(campo, "type", "number");
                break;
              case "Date":
                this.$set(campo, "type", "date");
                break;
            }
          });
        });
      });
    },
    agregarTipoItem() {
      this.tipoItem.fase_id = this.$route.params["id"];
      tipoItemService.crear(this.tipoItem).then(() => {
        this.loadTipoItems();
      });
    },
    importarTipoItem() {
      this.tItem.fase_id = this.$route.params["id"];
      FaseService.importar(this.tItem.fase_id, {
        tipo_item_id: this.tItem.id
      }).then(() => {
        this.loadTipoItems();
      });
    },
    eliminarTipoItem(id) {
      tipoItemService.eliminar(id).then(() => {
        this.loadTipoItems();
      });
    },
    loadValidParents() {
      FaseService.listarPosiblesPadresParaItem(this.$route.params["id"]).then(
        parents => {
          if (parents != undefined) this.padresValidos = parents;
        }
      );
    },
    crearItem() {
      const hasEmpty = this.version1.valores_personalizados.some(
        campo => campo.valor == ""
      );

      if (hasEmpty) {
        return;
      }

      this.version1.padres = [];

      let formData = new FormData();

      formData.append("nombre", this.version1.nombre);
      formData.append("peso", this.version1.peso);
      formData.append("fase_id", this.fase.id);
      formData.append("tipo_item_id", this.selectedTdI.id);

      const inputFile = document.getElementById("item-file-input");
      if (inputFile.files[0] != undefined) {
        formData.append("file", inputFile.files[0], inputFile.files[0].name);
      }

      this.padresSelectos.forEach(padre => formData.append("padres", padre));

      this.version1.valores_personalizados.forEach(campo =>
        formData.append(campo.nombre, campo.valor)
      );

      itemService.crear(formData).then(item => {
        // this.listarItems() no funciona, mientras:
        this.items.push(item);
        let version = item.versiones.find(version => version.actual);
        this.$set(item, "currVer", version);
      });
    },
    listarItems() {
      FaseService.listarItems(this.$route.params["id"]).then(items => {
        if (items == undefined) this.items = [];
        else this.items = items;
        this.items.forEach(item => {
          let version = item.versiones.find(version => version.actual);
          if (version == undefined) version = { nombre: "" };
          this.$set(item, "currVer", version);
        });
      });
    },
    desactivar(item) {
      itemService
        .desactivar(item.id)
        .then(updItem => (item.estado = updItem.estado));
    },
    listarLineasBase() {
      FaseService.listarLB(this.fase.id).then(lbs => (this.lineasBase = lbs));
    },
    crearLB() {
      if (this.itemsParaLB.length == 0) return;

      let itemsID = [];
      this.itemsParaLB.forEach(itemID => {
        itemsID.push({ id: itemID });
      });

      const payload = { fase_id: this.fase.id, items: itemsID };
      LineaBaseService.crear(payload).then(this.listarLineasBase());
    },
    cerrar() {
      FaseService.cerrar(this.$route.params["id"]).then(() => {
        this.obtener();
      });
    }
  },
  watch: {
    selectedTdI: function() {
      this.version1.valores_personalizados = [];
      if (typeof this.selectedTdI === "object" && this.selectedTdI !== null) {
        this.version1.valores_personalizados = [];
        this.selectedTdI.campos.forEach(campo => {
          this.$set(campo, "valor", undefined);
          this.version1.valores_personalizados.push(campo);
        });
      }
    }
  }
};
</script>

<style />
