<template>
  <div id="app">
    <notifications />
    <Navbar v-on:switch-sidebar="switchSidebar" v-if="isLoggedIn()" />
    <div class="sidebar" :class="{ active: sidebar }">
      <button type="button" class="close" v-on:click="switchSidebar">
        <span>&times;</span>
      </button>
      <div class="sidebar-content">
        <div v-on:click="switchSidebar">
          <router-link to="/">
            <button>
              <h2 class="text-dark my-5">
                IS<span class="text-success">2</span> Approver
              </h2>
            </button>
          </router-link>
        </div>
        <div v-on:click="switchSidebar">
          <router-link to="/">
            <button><h4 class="text-primary">Inicio</h4></button>
          </router-link>
        </div>
        <div v-on:click="switchSidebar">
          <router-link to="/proyectos">
            <button><h4>Proyectos</h4></button>
          </router-link>
        </div>
        <div v-on:click="switchSidebar">
          <router-link v-if="hasPerm('api.view_usuario')" to="/usuarios">
            <button><h4>Usuarios</h4></button>
          </router-link>
        </div>
        <div v-on:click="switchSidebar">
          <router-link v-if="hasPerm('api.view_rol')" to="/roles">
            <button><h4>Roles</h4></button>
          </router-link>
        </div>
        <button><h4 v-on:click="logout">Cerrar Sesión</h4></button>
      </div>
    </div>
    <router-view />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import authService from "./services/authService";
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      sidebar: false
    };
  },
  components: {
    Navbar
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    isLoggedIn() {
      return authService.isLoggedIn();
    },
    switchSidebar() {
      this.sidebar = !this.sidebar;
    },
    logout() {
      this.sidebar = false;
      authService.logout();
      this.$router.push("/login");
      this.removeMyPerms();
    },
    ...mapActions(["removeMyPerms"])
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

button,
router-link {
  border: none;
  background: none;
  color: gray;
  display: block;
  transition: color 0.5s;
}

button:hover,
a:hover {
  color: black;
  text-decoration: none;
}

a:active,
a:focus,
button:active,
button:focus {
  outline: none;
}

.sidebar {
  background: white;
  border: 3px solid black;
  border-radius: 6px;
  height: 100vh;
  left: -100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transition: left 1s;
  z-index: 10;
}

.sidebar > .close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.sidebar-content {
  margin: 0 10px;
}

.sidebar.active {
  left: 0;
}
</style>
