<template>
  <div v-if="hasPerm('api.change_rol')" class="container">
    <div class="row">
      <div class="col-md-12 pb-3">
        <h1>Modificar permisos de rol</h1>
        <p>ID: {{ rol.id }}</p>
        <p>Nombre: {{ rol.group.name }}</p>
        <p>Tipo: {{ tipos[rol.tipo] }}</p>
        <div class="mt-2">
          <input
            type="submit"
            class="btn btn-danger"
            v-on:click="atras()"
            value="Atrás"
          />
        </div>
      </div>
      <div class="col-md-12">
        <h1>Permisos</h1>
        <table class="table table-striped">
          <tr>
            <th style="width: 10%;">ID</th>
            <th style="width: 30%;">Descripción</th>
            <th style="width: auto;">Acción</th>
          </tr>
          <tr v-for="(permission, idx) in allPermissions" :key="'p' + idx">
            <td>{{ permission.permData.id }}</td>
            <td>{{ permission.permData.name }}</td>
            <td>
              <div class="custom-control custom-switch">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  v-bind:id="permission.permData.id"
                  v-model="permission.checked"
                  v-on:click="switchPermission"
                />
                <label
                  class="custom-control-label"
                  v-bind:for="permission.permData.id"
                  >{{ permission.checked ? "Agregado" : "Ausente" }}</label
                >
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div v-else style="text-align: center;">
    No tienes el permiso para editar roles.
  </div>
</template>

<script>
import RolService from "../../services/rolService";
import PermisoService from "../../services/permisoService";
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      tipos: {
        S: "Sistema",
        P: "Proyecto",
        F: "Fase"
      },
      rol: {
        id: null,
        tipo: null,
        group: {
          name: null
        },
        permissions: []
      },
      allPermissions: []
    };
  },
  mounted() {
    this.obtener();
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    obtener() {
      RolService.obtener(this.$route.params["id"]).then(rol => {
        this.rol = rol;
        RolService.permisos(this.$route.params["id"]).then(rolPermissions => {
          rolPermissions.forEach(permission => {
            this.allPermissions.push({
              permData: permission,
              checked: true
            });
          });

          PermisoService.listar().then(allPermissions => {
            let newPermissions = allPermissions.filter(permission => {
              return !rolPermissions.some(rolPermission => {
                return rolPermission.id == permission.id;
              });
            });

            newPermissions.forEach(permission => {
              this.allPermissions.push({
                permData: permission,
                checked: false
              });
            });
          });
        });
      });
    },
    atras() {
      this.$router.push(`/roles/${this.rol.id}/`);
    },
    switchPermission(event) {
      let element = event.target;
      let permission = { permiso_id: element.id };
      let checked = element.checked;

      if (checked) {
        RolService.agregar(this.rol.id, permission).then(() =>
          this.refreshMyPermList()
        );
      } else {
        RolService.remover(this.rol.id, permission).then(() =>
          this.refreshMyPermList()
        );
      }
    },
    ...mapActions(["refreshMyPermList"])
  }
};
</script>

<style />
