<template>
  <div>
    <br />
    <div class="container">
      <div class="row">
        <form
          v-if="hasPerm('api.add_rol')"
          class="col-md-4 border-right"
          v-on:submit.stop.prevent="crear"
        >
          <h1>Crear Rol</h1>
          <div class="form-group">
            <label>Nombre</label>
            <input
              class="form-control"
              type="text"
              required
              v-model="rol.name"
            />
          </div>
          <div class="form-group">
            <label>Tipo</label>
            <select class="form-control" required v-model="rol.tipo">
              <option value="" selected>Seleccione el tipo de rol</option>
              <option value="S">Sistema</option>
              <option value="P">Proyecto</option>
              <option value="F">Fase</option>
            </select>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Crear Rol" />
          </div>
        </form>
        <div v-if="hasPerm('api.view_rol')" class="col-md-8">
          <h1>Lista de Roles</h1>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a
                style="cursor: pointer"
                :class="active == 'S' ? 'active nav-link' : 'nav-link'"
                v-on:click="listar('S')"
              >
                Sistema
              </a>
            </li>
            <li class="nav-item">
              <a
                style="cursor: pointer"
                :class="active == 'P' ? 'active nav-link' : 'nav-link'"
                v-on:click="listar('P')"
              >
                Proyecto
              </a>
            </li>
            <li class="nav-item">
              <a
                style="cursor: pointer"
                :class="active == 'F' ? 'active nav-link' : 'nav-link'"
                v-on:click="listar('F')"
              >
                Fase
              </a>
            </li>
          </ul>
          <table class="table table-striped">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Tipo</th>
            </tr>
            <tr
              v-on:click="$router.push(`/roles/${rol.id}/`)"
              v-for="rol in roles"
              :key="rol.id"
            >
              <td>
                {{ rol.id }}
              </td>
              <td>
                {{ rol.group.name }}
              </td>
              <td>
                {{ tipos[rol.tipo] }}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <hr />
    </div>
  </div>
</template>

<script>
import RolService from "../../services/rolService";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      active: "S",
      tipos: {
        S: "Sistema",
        P: "Proyecto",
        F: "Fase"
      },
      roles: [],
      rol: {
        tipo: "",
        name: null
      },
      selected: []
    };
  },
  mounted() {
    this.listar(this.active);
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    listar(tipo) {
      this.active = tipo;
      RolService.listar(tipo).then(roles => {
        this.roles = roles;
      });
    },
    crear() {
      RolService.crear(this.rol).then(() => {
        this.listar(this.rol.tipo);
      });
    }
  }
};
</script>
