<template>
  <div class="container">
    <div v-if="hasPerm('api.view_rol')" class="row">
      <div class="col-md-12 pb-3">
        <h1>Rol</h1>
        <p>ID: {{ rol.id }}</p>
        <p>Nombre: {{ rol.group.name }}</p>
        <p>Tipo: {{ tipos[rol.tipo] }}</p>
        <div>
          <router-link
            v-if="hasPerm('api.change_rol')"
            :to="`/roles/${rol.id}/edit`"
            class="btn btn-primary"
            >Modificar permisos</router-link
          >&nbsp;
          <button
            v-if="hasPerm('api.delete_rol')"
            class="btn btn-danger"
            v-on:click="eliminar()"
          >
            Eliminar
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <h1>Permisos</h1>
        <table class="table table-striped">
          <tr>
            <th>ID</th>
            <th>Descripción</th>
          </tr>
          <tr v-for="permission in rol.group.permissions" :key="permission.id">
            <td>{{ permission.id }}</td>
            <td>{{ permission.name }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div v-else style="text-align: center;">
      No tienes el permiso para ver roles.
    </div>
  </div>
</template>

<script>
import RolService from "../../services/rolService";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      tipos: {
        S: "Sistema",
        P: "Proyecto",
        F: "Fase"
      },
      rol: {
        id: null,
        tipo: null,
        group: {
          name: null
        },
        permissions: []
      }
    };
  },
  mounted() {
    this.obtener();
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    obtener() {
      RolService.obtener(this.$route.params["id"]).then(rol => {
        this.rol = rol;
      });
    },
    eliminar() {
      RolService.eliminar(this.rol.id).then(() => {
        this.$router.push("/roles");
      });
    }
  }
};
</script>

<style />
