<template>
  <div>
    <div v-if="hasPerm('api.view_proyecto')" class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Solicitud</h1>
          <p>Id: {{ solicitud.id }}</p>
          <p>
            Motivo:
            <span :title="solicitud.motivo">{{ solicitud.motivo }}</span>
          </p>
          <p>Impacto: {{ solicitud.impacto }}</p>
          <p>Estado: {{ stateToString(solicitud.estado) }}</p>
          <div>
            <button
              v-if="solicitud.estado == 'P'"
              v-on:click="votar(false)"
              class="btn btn-danger"
            >
              Votar por la desaprobación
            </button>
            <button
              v-if="solicitud.estado == 'P'"
              v-on:click="votar(true)"
              class="btn btn-success"
            >
              Votar por la aprobación
            </button>
          </div>
        </div>
      </div>
      <Grapho :proyectoId="solicitud.proyecto_id" :solicitudId="solicitud.id" />
    </div>
    <div v-else style="text-align: center;">
      No tienes el permiso para ver esta solicitud.
    </div>
  </div>
</template>

<script>
import Grapho from "@/components/Grapho";
import AuthService from "@/services/authService";
import SolicitudService from "@/services/solicitudService";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      solicitud: {
        id: "",
        motivo: "",
        estado: "",
        impacto: "",
        operacion: ""
      }
    };
  },
  components: {
    Grapho
  },
  mounted() {
    if (AuthService.isLoggedIn()) {
      this.obtener();
    }
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    stateToString(key) {
      switch (key) {
        case "P":
          return "Pendiente";
        case "A":
          return "Aprobada";
        case "R":
          return "Rechazada";
        default:
          return "";
      }
    },
    obtener() {
      SolicitudService.obtener(this.$route.params["id"]).then(
        s => (this.solicitud = s)
      );
    },
    votar(eleccion) {
      SolicitudService.votar(this.solicitud.id, { votar: eleccion }).then(
        alert("Voto recibido")
      );
    }
  }
};
</script>

<style>
form {
  margin-bottom: 30px;
}
label.agregado::before {
  background-color: #007bff !important;
  border-color: #007bff !important;
}
label.remover::before {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}
label.agregar::before {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}
label.ausente::before {
  background-color: #fff !important;
  border-color: #adb5bd !important;
}
</style>
