<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Actualizar Item</h1>
        <div class="form-group">
          <h3>ID: {{ item.id }}</h3>
        </div>
        <div class="form-group">
          <label for="">Nombre</label>
          <input class="form-control" type="text" v-model="version.nombre" />
        </div>
        <div class="form-group">
          <label for="">Peso</label>
          <input class="form-control" type="number" v-model="version.peso" />
        </div>
        <div class="form-group">
          <label for="">Padres</label>
          <select
            multiple="true"
            name=""
            class="form-control"
            v-model="selectedParents"
          >
            <option
              v-for="padre in validParents"
              :value="padre.id"
              :key="'p' + padre.id"
            >
              {{ padre.id }}
            </option>
          </select>
        </div>
        <div class="form-group" style="margin-left: 15px">
          <label for="">Valores personalizados</label>
          <div
            v-for="valor in version.valores_personalizados"
            :key="'c' + valor.campo.id"
          >
            <label :for="'i' + valor.campo.id"
              >{{ valor.campo.nombre }}:
            </label>
            <input
              :type="valor.campo.type"
              name=""
              :key="'i' + valor.campo.id"
              v-bind:placeholder="valor.campo.type"
              v-model="valor.valor"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="">Cargar archivo</label>
          <input type="file" name="" id="item-file-update" />
        </div>
        <button
          v-on:click="actualizar()"
          class="btn btn-danger"
          style="margin-bottom: 30px;"
        >
          Actualizar Item
        </button>
        <button
          v-on:click="$router.push(`/items/${item.id}/`)"
          class="btn btn-primary"
          style="margin-bottom: 30px;"
        >
          Atrás
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import ItemService from "../../services/itemService";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      item: {
        id: "",
        fecha_creado: "",
        estado: "",
        hijos: [],
        versiones: []
      },
      version: {
        id: "",
        numero: "",
        nombre: "",
        peso: "",
        archivo: "",
        item_id: "",
        actual: "",
        padres: [],
        valores_personalizados: []
      },
      validParents: [],
      selectedParents: []
    };
  },
  mounted() {
    this.obtener();
    this.loadValidParents();
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    obtener() {
      ItemService.obtener(this.$route.params["id"]).then(item => {
        this.item = item;
        const version = this.item.versiones.find(version => version.actual);
        this.updateVersion(version);
      });
    },
    updateVersion(version) {
      this.selectedParents = [];
      this.version = Object.assign({}, version);
      this.version.id = this.version.numero = "";
      if (this.version.padres == undefined) this.selectedParents = [];
      else
        this.version.padres.forEach(padre =>
          this.selectedParents.push(padre.padre_id)
        );

      this.version.valores_personalizados.forEach(valor => {
        switch (valor.campo.tipo_dato) {
          case "String":
            this.$set(valor.campo, "type", "text");
            break;
          case "Integer":
            this.$set(valor.campo, "type", "number");
            break;
          case "Date":
            this.$set(valor.campo, "type", "date");
            break;
        }
      });
    },
    loadValidParents() {
      ItemService.listarPosiblesPadresParaModificar(
        this.$route.params["id"]
      ).then(parents => {
        if (parents != undefined) this.validParents = parents;
        else this.validParents = [];
      });
    },
    actualizar() {
      const hasEmpty = this.version.valores_personalizados.some(
        campo => campo.valor == ""
      );

      if (hasEmpty) {
        return;
      }

      let formData = new FormData();

      formData.append("nombre", this.version.nombre);
      formData.append("peso", this.version.peso);

      const inputFile = document.getElementById("item-file-update");
      if (inputFile.files[0] != undefined)
        formData.append("file", inputFile.files[0], inputFile.files[0].name);

      this.selectedParents.forEach(padre => formData.append("padres", padre));

      this.version.valores_personalizados.forEach(value =>
        formData.append(value.campo.nombre, value.valor)
      );

      ItemService.actualizarVersion(this.item.id, formData);
    }
  }
};
</script>

<style />
