<template>
  <div>
    <div class="container">
      <div class="row" style="margin-top: 50px">
        <div class="col-md-6">
          <h1>Versión de item</h1>
          <p>Número de versión: {{ version.numero }}</p>
          <p>ID de item: {{ version.item_id }}</p>
          <p>Nombre: {{ version.nombre }}</p>
          <p>Peso: {{ version.peso }}</p>
          <p>Archivo: {{ version.archivo }}</p>
          <div>
            <label for="">Padres:</label>
            <ul>
              <li v-for="padre in version.padres" :key="'vp' + padre">
                {{ padre }}
              </li>
            </ul>
          </div>
          <div>
            <label for="">Campos Personalizados:</label>
            <ul>
              <li
                v-for="valor in version.valores_personalizados"
                :key="valor.id"
              >
                {{ valor.campo.nombre }}: {{ valor.valor }}
              </li>
            </ul>
          </div>
          <button
            v-if="estado != 'D' && !version.actual"
            v-on:click="revertir()"
            class="btn btn-danger"
          >
            Actualizar a esta versión
          </button>
          <router-link
            :to="`/items/${version.item_id}`"
            class="btn btn-primary"
          >
            Atrás
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ItemService from "../../services/itemService";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      estado: "",
      version: {
        id: "",
        numero: "",
        nombre: "",
        peso: 0,
        archivo: "",
        item_id: "",
        actual: "",
        padres: "",
        valores_personalizados: []
      }
    };
  },
  mounted() {
    this.obtener();
  },
  computed: {
    ...mapGetters(["hasPerm"])
  },
  methods: {
    obtener() {
      ItemService.obtener(this.$route.params["id"]).then(item => {
        this.estado = item.estado;
        const verID = this.$route.params["ver"];
        this.version = item.versiones.find(version => version.id == verID);
        if (this.version.padres == undefined) this.version.padres = [];
      });
    },
    revertir() {
      ItemService.revertirVersion(
        this.version.item_id,
        `{"version_id": ${this.version.id}}`
      ).then(() => alert("Reversión exitosa."));
    }
  }
};
</script>

<style>
button {
  margin: 5px;
}

ul {
  padding-left: 25px;
}
</style>
