<template>
  <div>
    <div class="container">
      <!-- Item y Solicitudes -->
      <div class="row" style="margin-top: 50px">
        <!-- Item -->
        <div class="col-md-6">
          <h1>Item</h1>
          <p>ID: {{ item.id }}</p>
          <p>Nombre: {{ currVersion.nombre }}</p>
          <p>Estado: {{ stateToString(item.estado) }}</p>
          <p>Peso: {{ currVersion.peso }}</p>
          <p>Archivo: {{ currVersion.archivo }}</p>
          <div>
            <label for="">Padres:</label>
            <ul>
              <li v-for="padre in currVersion.padres" :key="'ip' + padre">
                {{ padre }}
              </li>
            </ul>
          </div>
          <div>
            <label for="">Campos Personalizados:</label>
            <ul>
              <li
                v-for="valor in currVersion.valores_personalizados"
                :key="'v' + valor.id"
              >
                {{ valor.campo.nombre }}: {{ valor.valor }}
              </li>
            </ul>
          </div>
          <router-link
            v-if="item.estado == 'C'"
            :to="`/items/${item.id}/edit`"
            class="btn btn-primary"
          >
            Editar
          </router-link>
          <button
            v-if="item.estado == 'C'"
            v-on:click="desactivar()"
            class="btn btn-danger"
          >
            Desactivar
          </button>
        </div>
        <!-- Solicitudes -->
        <div class="col-md-6">
          <h1>Solicitudes y aprobaciones</h1>
          <div v-if="canBeAproved">
            <button v-on:click="solicitarAprobacion()" class="btn btn-primary">
              Solicitar aprobación de item</button
            ><br />
          </div>
          <div v-if="canBeAproved">
            <button v-on:click="aprobar()" class="btn btn-primary">
              Aprobar item</button
            ><br />
          </div>
          <div v-if="item.estado == 'A'" style="margin: 25px 0;">
            <label for="" style="font-weight: bolder;"
              >Solicitar desaprobación de item</label
            ><br />
            <input type="text" v-model="motivo" />
            <button
              v-on:click="solicitarDesaprobacion()"
              class="btn btn-danger"
            >
              Enviar</button
            ><br />
          </div>
          <div v-if="item.estado == 'A'">
            <button v-on:click="desaprobar()" class="btn btn-danger">
              Desaprobar de item</button
            ><br />
          </div>
        </div>
      </div>
      <!-- Versiones del item -->
      <div class="row" style="margin: 50px 0">
        <div class="col-md-6">
          <h1>Versiones del item</h1>
          <table class="table table-striped">
            <tr>
              <th style="width: 10%">ID</th>
              <th style="width: 50%">Número</th>
              <th style="width: 40%">Ver</th>
            </tr>
            <tr v-for="version in item.versiones" :key="'v' + version.numero">
              <td>
                {{ version.id }}
              </td>
              <td>
                {{ version.numero }}
                <span style="color: gray">{{
                  version.actual ? "(actual)" : ""
                }}</span>
              </td>
              <td>
                <router-link
                  :to="`/items/${item.id}/versiones/${version.id}`"
                  class="btn btn-primary"
                  >Ver</router-link
                >
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ItemService from "@/services/itemService";
import FaseService from "@/services/faseService";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      tipoItems: [],
      item: {
        id: "",
        fecha_creado: "",
        estado: "",
        hijos: [],
        versiones: []
      },
      currVersion: {
        id: "",
        numero: "",
        nombre: "",
        peso: 0,
        archivo: "",
        item_id: "",
        actual: "",
        padres: "",
        valores_personalizados: []
      },
      motivo: "",
      phase: {
        orden: ""
      }
    };
  },
  mounted() {
    this.obtener();
  },
  computed: {
    canBeAproved() {
      if (this.item.estado == "C")
        if (this.phase.orden > 1)
          if (
            this.currVersion.padres != undefined &&
            this.currVersion.padres.length > 0
          )
            return true;
          else return false;
        else return true;
      else return false;
    },
    ...mapGetters(["hasPerm"])
  },
  methods: {
    stateToString: function(key) {
      switch (key) {
        case "A":
          return "Aprobado";

        case "C":
          return "Creado";

        case "R":
          return "En Revisión";

        case "D":
          return "Desactivado";

        case "L":
          return "En Línea Base";
      }

      return "";
    },
    obtener() {
      ItemService.obtener(this.$route.params["id"]).then(item => {
        this.item = item;
        this.currVersion = this.item.versiones.find(version => version.actual);
        FaseService.obtener(item.fase_id).then(phase => (this.phase = phase));
      });
    },
    solicitarAprobacion() {
      ItemService.solicitarAprobacion(this.item.id).then(() =>
        alert("Solicitud enviada.")
      );
    },
    aprobar() {
      ItemService.aprobar(this.item.id).then(
        item => (this.item.estado = item.estado)
      );
    },
    solicitarDesaprobacion() {
      ItemService.solicitarDesaprobacion(this.item.id, this.motivo).then(() =>
        alert("Solicitud enviada.")
      );
    },
    desaprobar() {
      ItemService.desaprobar(this.item.id).then(
        item => (this.item.estado = item.estado)
      );
    },
    desactivar() {
      ItemService.desactivar(this.item.id).then(
        item => (this.item.estado = item.estado)
      );
    }
  }
};
</script>

<style>
button {
  margin: 5px;
}

ul {
  padding-left: 25px;
}
</style>
