<template>
  <div>
    <!--copiar esto! -->
    <div class="home container">
      <img alt="Vue logo" src="../assets/logo.png" />
      <HelloWorld :msg="'Bienvenido ' + usuario.user.first_name" />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
export default {
  name: "Home",
  components: {
    HelloWorld
  },
  data() {
    return {
      usuario: {
        user: {
          first_name: null
        }
      }
    };
  },
  mounted() {
    this.$router.push("/proyectos");
  }
};
</script>
