<template>
  <div class="container">
    <div class="row height-75 justify-content-center align-items-center">
      <div class="w-100"></div>
      <div class="col-md-6 col-lg-4">
        <h4 class="my-5">IS<span class="text-success">2</span> Approver</h4>
        <div class="img-container d-none d-lg-block">
          <img class="img-fluid" src="@/assets/home-img.png" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-column justify-content-center text-center">
          <button>
            <h4 class="text-primary" v-on:click="login()">Iniciar Sesión</h4>
          </button>
          <button>
            <h4 class="text-success" v-on:click="registro()">Registrarse</h4>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import authService from "../services/authService";
import { mapActions } from "vuex";
export default {
  methods: {
    login() {
      authService.login().then(() => {
        this.$router.push("/proyectos");
        this.refreshMyPermList();
      });
    },
    registro() {
      authService.login().then(() => {
        this.$router.push("/proyectos");
        this.refreshMyPermList();
      });
    },
    ...mapActions(["refreshMyPermList"])
  }
};
</script>

<style>
.img-container {
  width: 242px;
}

.height-75 {
  height: 75vh;
}

h4 {
  font-family: "Quicksand", sans-serif;
}
</style>
